div.container {
    background-color: transparent;
}

div.content {
    clear: both;
    margin: 0;
    padding: 0 0 50px 0;
    width: 960px;
}

.ga_channel_title {
    font-size: 13px;
    padding: 10px 0;
    margin-top: 20px;
    border-bottom: 3px solid #999;
}

.ga_channel_title h2 {
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0 0 5px;
    color: #222;
    font-size: 24px;
}

.ga_channel_title .channel_title_button {
    float: right;
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
    line-height: 28px;
    height: 28px;
    color: #777;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
}

.ga_channel_title .channel_title_button:hover {
    background-position: 0 -28px;
}

.channel_title_button.down {
    background: transparent url(..//img/create/btn_down.png) no-repeat 0 0;
    width: 167px;
    padding-right: 20px;
}

.channel_title_button.up {
    background: transparent url(..//img/create/btn_up.png) no-repeat 0 0;
    width: 120px;
    padding-right: 20px;
}

.channel_title_button.tutorial {
    background: transparent url(..//img/create/btn_tutorial.png) no-repeat 0 0;
    width: 140px;
}

.ga_channel_nav {
    line-height: 30px;
    color: #999;
    font-size: 24px;
    font-weight: bold;
}

.ga_channel_nav h1,.ga_channel_nav h1 a {
    font-size: 24px;
    color: #222;
    margin: 0;
    padding: 0;
    display: inline;
}

.ga_channel_nav a {
    color: #222;
}

.ga_channel_nav h1 a:hover {
    text-decoration: underline;
}

#channel_app_filter {
    border: 1px solid transparent;
    display: inline-block;
    color: #222;
    cursor: pointer;
    padding: 3px 10px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#channel_app_filter .arrow {
    background: transparent url(..//img/create/arrow_dropdown.png) no-repeat 0 -10px;
    display: inline-block;
    height: 10px;
    width: 17px;
}

#channel_app_filter ul {
    display: none;
    background-color: #ddd;
    list-style-type: none;
    position: absolute;
    padding: 5px 0;
    top: 33px;
    left: -1px;
    right: -1px;
    border: 1px solid #aaa;
    border-top: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#channel_app_filter li {
    display: block;
    line-height: 20px;
    font-size: 14px;
}

#channel_app_filter li a {
    display: block;
    padding: 2px 10px;
}

#channel_app_filter li a:hover {
    text-decoration: underline;
}

#channel_app_filter:hover,#channel_app_filter.on {
    background-color: #ddd;
    border-color: #aaa;
}

#channel_app_filter:hover .arrow,#channel_app_filter.on .arrow {
    background-position: 0 0;
}

.channel-slider-body {
    width: 960px;
    overflow: hidden;
    position: relative;
}

.channel-slides {
    width: 20000px;
    position: relative;
    left: 0;
    transition: left .7s ease-in-out;
    -moz-transition: left .7s ease-in-out;
    -webkit-transition: left .7s ease-in-out;
    -o-transition: left .7s ease-in-out;
}

.slider-buttons {
    float: right;
    padding-top: 25px;
}

.slider-button {
    background: transparent url(..//img/create/btn_arrows.png) no-repeat 0 0;
    border: none;
    color: #777;
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 28px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin-left: 8px;
}

.slider-button:hover {
    background-position: 0 -28px;
}

.slider-button.prev .arrow {
    height: 0;
    width: 0;
    font-size: 0;
    vertical-align: middle;
    border: 1px solid transparent;
    border-width: 5px 5px 5px 0;
    border-right-color: #777;
}

.slider-button.next .arrow {
    height: 0;
    width: 0;
    font-size: 0;
    vertical-align: middle;
    border: 1px solid transparent;
    border-width: 5px 0 5px 5px;
    border-left-color: #777;
}

.slider-button[disabled] {
    background-position: 0 -56px;
    cursor: auto;
}

.slider-button[disabled].prev .arrow {
    border-right-color: #aaa;
}

.slider-button[disabled].next .arrow {
    border-left-color: #aaa;
}

.slider-page {
    border-left: 1px solid #a6a6a6;
    float: right;
    color: #777;
    display: inline-block;
    font-weight: bold;
    padding: 0 5px 0 10px;
    margin: 4px 0;
    line-height: 20px;
    box-shadow: -2px 0 0 #e2e2e2;
}

.browse-all {
    background: transparent url(..//img/create/btn_all.png) no-repeat 0 0;
    color: #aaa;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    width: 125px;
    text-align: center;
    padding-right: 10px;
}

.browse-all:hover {
    background-position: 0 -28px;
    color: #aaa;
}

.channel_box {
    float: left;
    font-size: 14px;
    margin: 20px 0 40px 12px;
    width: 308px;
    _display: inline;
}

.channel_box .coupons {
    color: #444;
    font-size: 10px;
    float: right;
    padding: 5px 0 2px 5px;
}

.channel_box h3 {
    color: #222;
    font-size: 16px;
    padding: 0;
    margin: 0 0 4px;
}

.channel_box .image {
    display: block;
    width: 308px;
    height: 155px;
    margin-bottom: 5px;
    position: relative;
}

.channel_box .coming_soon {
    color: #6f6f6f;
    font-style: italic;
    font-weight: bold;
    text-align: right;
}

.channel_box .overlay {
    width: 100%;
    height: 100%;
    background-color: #333;
    background-color: rgba(0,0,0,0.6);
}

.channel_box .new {
    background: transparent url("/static/qvm/templates/talkingpicz_christmas/img/create/img_new.png") no-repeat 0 0;
    width: 61px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.channel_box .top {
    background: transparent url("/static/qvm/templates/talkingpicz_christmas/img/create/img_top.png") no-repeat 0 0;
    width: 61px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.channel_box .message {
    background: #1e435d;
    font-size: 13px;
    width: 286px;
    height: auto;
    position: absolute;
    bottom: 3px;
    left: 3px;
    padding: 2px 8px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.channel_box .btn_create {
    color: #fff;
    display: block;
    font-size: 14px;
    font-style: italic;
    float: right;
    text-decoration: none;
    padding: 4px 10px;
    margin: 0 2px 0 10px;
    -moz-box-shadow: 0 2px 2px #666;
    -webkit-box-shadow: 0 2px 2px #666;
    box-shadow: 0 2px 2px #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.channel_box .create_cartoon {
    background: #107fc9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d9ee9',endColorstr='#107fc9');
    background: -webkit-gradient(linear,left top,left bottom,from(#2d9ee9),to(#107fc9));
    background: -moz-linear-gradient(top,#2d9ee9,#107fc9);
}

.channel_box .create_cc {
    background: #c7205b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e62e6f',endColorstr='#c7205b');
    background: -webkit-gradient(linear,left top,left bottom,from(#e62e6f),to(#c7205b));
    background: -moz-linear-gradient(top,#e62e6f,#c7205b);
}

.channel_box .create_slideshow {
    background: #689812;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb11b',endColorstr='#689812');
    background: -webkit-gradient(linear,left top,left bottom,from(#7bb11b),to(#689812));
    background: -moz-linear-gradient(top,#7bb11b,#689812);
}

.channel_box .create_ttv {
    background: #ac2910;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d13f23',endColorstr='#ac2910');
    background: -webkit-gradient(linear,left top,left bottom,from(#d13f23),to(#ac2910));
    background: -moz-linear-gradient(top,#d13f23,#ac2910);
}

.channel_box .talkpic {
    background: transparent url("/static/qvm/templates/talkingpicz/channel.jpg") no-repeat 0 0;
}

.channel_box .politics {
    background: transparent url("/static/qvm/templates/politics/channel.jpg") no-repeat 0 0;
}

.channel_box .xmaspicz {
    background: transparent url("/static/qvm/templates/talkingpicz_christmas/channel.jpg") no-repeat 0 0;
}

.channel_box .plus-label {
    position: relative; 
    margin-top: -49px; 
    background: #4b95ae;
    background: -webkit-gradient(linear,left top,left bottom,from(#6fc3dd),to(#4b95ae));
    background: -moz-linear-gradient(top,#6fc3dd,#4b95ae);
    color: #fff;
    font: italic 20px 'Trebuchet MS',Helvetica,sans-serif;
    text-align: center;
    bottom: 3px;
    padding: 1px;
    width: 306px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

.channel_box .plus-text {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font: italic bold 14px 'Trebuchet MS',Helvetica,sans-serif;
    padding: 10px;
    text-align: right;
    text-shadow: 1px 1px 1px #000;
    width: 135px;
}

#create-overlay {
    width: 900px;
    text-align: center;
}

#create-overlay .lightbox_wrapper {
    padding: 20px;
}

#create-overlay h2 {
    color: #000;
    text-align: center;
    font-size: 18px;
}

#studio-features {
    position: relative;
    margin: 20px 0;
    height: 375px;
    width: 860px;
}

#studio-features div {
    color: #1d75b0;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
}

#studio-n1 {
    top: 0;
    left: 290px;
}

#studio-n2 {
    top: 17px;
    left: 345px;
}

#studio-n3 {
    bottom: 263px;
    left: 715px;
    text-align: left;
    width: 130px;
}

#studio-n4 {
    bottom: 183px;
    left: 715px;
    text-align: left;
    width: 130px;
}

#studio-n5 {
    bottom: 50px;
    left: 715px;
    text-align: left;
    width: 135px;
}

#studio-n6 {
    bottom: 240px;
    left: 12px;
    text-align: right;
    width: 130px;
}

#studio-n7 {
    bottom: 165px;
    left: 12px;
    text-align: right;
    width: 130px;
}

#studio-n8 {
    bottom: 77px;
    left: 42px;
    text-align: right;
    width: 100px;
}