<div id="school-top">
    <h2>
        <a href="/public_index">Nexus</a>
    </h2>    
    <div id="school-top-menu" style="display: none;">
        <a href="/dashboard">Dashboard</a> |
        <a href="/movies">Your Videos</a> |
        <a href="/public_faq">FAQ</a> |
        <a href="/videos">Explore Videos</a>
    </div>
</div>