<% if (includeTopBar) { %>
<div id="top-bar">
    <a href="https://flashthemes.net/">&lt; Go to FlashThemes</a>
    <a class="login" href="/studio">Make a Video &gt;</a>
</div>
<% } else { %>
<div id="school-top">
    <h2>
        <a href="/public_index" style="color:coral">GoNexus</a>
    </h2>    
    <div id="school-top-menu" style="display: none;">
        <a href="/dashboard">Dashboard</a> |
        <a href="/movies">Your Videos</a> |
        <a href="/public_faq">FAQ</a> |
        <a href="/videos">Explore Videos</a>
    </div>
</div>
<% } %>