<footer class="site-footer hidden-print">
    <div class="container" style="margin-top: -20px;">
        <div class="row site-footer-nav">
            <div class="col-sm-3">
                <div class="site-footer-nav-col">
                    <h5>Getting Help</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://discord.gg/BcVeWEhuqJ">Discord Server</a></li>
                        <li class="hidden-xs">&nbsp;</li>
                        <li class="hidden-xs">&nbsp;</li>
                        <li class="hidden-xs">&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row site-footer-copyright">
            <div class="col-sm-6">
                <div class="site-footer-socials-container">
					<ul class="site-footer-socials clearfix"></ul>
                </div>
            </div>
			<style>
				.ftm {
					display: flex;
					align-items: flex-start;
				}

				.lim {
					margin-right: 10px;
					flex-shrink: 0;
				}

				.txt {
					
				}
				p {
					margin: 0;
					padding: 0;
				}

			</style>
            <div class="col-sm-6 ftm">
				<div class="pull-left" style="overflow:hidden;"> 
					<p class="txt" style="margin: 20px;">Powered by</p>
                </div>
                <div class="pull-right" style="overflow:hidden;">
					<img src="https://nodejs.org/static/images/logo.svg" alt="Node.JS" height="51" width="117" class="lim"/>
                    &nbsp;&nbsp;&nbsp;
                    <script>document.write(`Nexus &copy; ${new Date().getFullYear()}`)</script>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="overlayGeneral" class="lightbox" style="display:none">
    <div class="lightbox_wrapper">
        <h2 align="center"> 
            <div id="OG_title"></div>
        </h2>
        <div id="OG_content"></div>
    </div>
</div>
