<footer class="site-footer">
    <div class="container">
        Vyond&trade; is a trademark of GoAnimate, Inc. &copy; 2019 GoAnimate, Inc. <a href="https://web.archive.org/web/20191104072153/https://www.vyond.com/terms">Terms of Service</a> | <a href="https://web.archive.org/web/20191104072153/https://www.vyond.com/privacy">Privacy Policy</a> | <a href="https://web.archive.org/web/20191104072153/https://www.vyond.com/cookies">Cookies Policy</a>
    </div>
</footer>