<nav class="navbar site-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" href="/" title="BetterWrapper">
                <img alt="BetterWrapper" width="120" height="28" src="/ui/img/logo_better.png">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="signup-button"><a href="/public_signup">Signup</a></li>
                <li id="login-button"><a href="/login">Login</a></li>
                <li class="dropdown" id="isLogin" style="display: none">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Your Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/movies">Your Videos</a></li>
                        <li><a href="/qvms">Your QVM Videos</a></li>
                        <li><a class="logout-link" href="javascript:userLogout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>