<%- include("usercss.ejs") %>
<style>
    .has-school,
    .is_school_admin {
        display: none;
    }
</style>
<link href="https://wrapperclassic.netlify.app/cc/overlay.css" rel="stylesheet" type="text/css">
<nav class="navbar site-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" href="/" title="GoNexus">
                <img alt="GoNexus" src="/ui/img/logo_better.png">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="signup-button"><a href="/public_signup">Signup</a></li>
                <li id="login-button"><a href="/login">Login</a></li>
                <li class="dropdown" id="isLogin" style="display: none">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Your Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="javascript:downloadMyStuff()">Download Your Stuff</a></li>
                        <li><a href="javascript:;" data-toggle="modal" data-target="#apiKeysOverlay">Your API Keys (For Stuff like TTS and etc)</a></li>
                        <li><a href="javascript:document.getElementById('stuff-upload').click()">Upload Your Stuff</a></li>
                        <li><a href="/movies">Your Videos</a></li>
                        <li class="divider"></li>
                        <li><a href="/account">Account Settings</a></li>
                        <li class="divider"></li>
                        <li><a class="logout-link" href="javascript:userLogout()">Logout</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="isAccountAdmin" style="display: none;">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;" data-target="#manage_students" data-toggle="modal">
                                Students
                                <div class="text-muted small">Add students</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-target="#manage_teachers" data-toggle="modal">
                                Teachers
                                <div class="text-muted small">Add teachers</div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-target="#manage_groups" data-toggle="modal">
                                Groups
                                <div class="text-muted small">Create groups, manage group permissions</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;" data-target="#manage_school" data-toggle="modal">
                                School Profile
                                <div class="text-muted small">Enter your school information</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Useful Tools<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#FlashThemesConverter" href="javascript:;">FlashThemes Video Converter</a></li>
                        <li><a data-toggle="modal" data-target="#FlashGamePlayer" href="javascript:;">Flash Game Player</a></li>
                        <li><a onclick="setupFlashThemesMovieUploader()" href="javascript:;">FlashThemes Movie Uploader</a></li>
                    </ul>
                </li>
                <% if (isVideoList) { %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Explore<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/videos">Videos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="hidden-sm hidden-md hidden-lg" href="/create">Make a Video</a>
                        <span class="site-nav-btn hidden-xs"><a class="btn btn-green" href="/create">Make a Video</a></span>
                    </li>
                <% } else { %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Learning Center <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/public_faq">FAQ</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<script src="https://josephanimate2021.github.io/blockui/jquery.blockUI.js"></script>
<form enctype='multipart/form-data' action='javascript:uploadMyStuff()' style="display: none;">
    <input id='stuff-upload' type="file" onchange="this.form.submit()" name='import' accept=".zip" />
</form>
<div id="manage_students" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">Manage Students</h3>
            </div>
            <div class="modal-body">
                <div id="has-students" class="row" style="display: none;"></div>
                <div id="no-students">
                    <div class="no-school">
                        You have not created a school yet. 
                        <a href="javascript:;" onclick="showOverlayOnElement(
                            '#manage_students', $('#school_maker')
                        )">Create a school now</a>
                    </div>
                    <div class="has-school">
                        You don't have any students assigned to your school yet.
                        <a href="javascript:;" onclick="showOverlayOnElement(
                            '#manage_students', $('#assign_student')
                        )">Assign Students</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="manage_groups" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">Manage Groups</h3>
            </div>
            <div class="modal-body">
                <div id="has-groups" class="row" style="display: none;"></div>
                <div id="no-groups">
                    <div class="no-school">
                        You have not created a school yet. 
                        <a href="javascript:;" onclick="showOverlayOnElement(
                            '#manage_groups', $('#school_maker')
                        )">Create a school now</a>
                    </div>
                    <div class="has-school">
                        You don't have any groups assigned to your school yet.
                        <a href="javascript:;" onclick="showOverlayOnElement(
                            '#manage_groups', $('#group_maker')
                        )">Create a group</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="manage_teachers" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">Manage Teachers</h3>
            </div>
            <div class="modal-body">
                <div id="has-teachers" class="row" style="display: none;"></div>
                <div id="no-teachers">
                    <div class="no-school">
                        You have not created a school yet. 
                        <a href="javascript:;" onclick="showOverlayOnElement(
                            '#manage_teachers', $('#school_maker')
                        )">Create a school now</a>
                    </div>
                    <div class="has-school">
                        You don't have any teachers assigned to your school yet.
                        <a href="javascript:;" onclick="showOverlayOnElement(
                            '#manage_teachers', $('#assign_teacher')
                        )">Assign Teachers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal container" id="manage_school">
    <div class="modal-dialog row">
        <div class="modal-content col-xs-12 col-sm-6 col-md-6">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">School Profile</h3>
            </div>
            <div class="modal-body well well-sm">
                <div class="no-school">
                    You have not created a school yet. 
                    <a href="javascript:;" onclick="showOverlayOnElement(
                        '#manage_school', $('#school_maker')
                    )">Create a school now</a>
                </div>
                <div class="has-school row">
                    <div class="col-sm-6 col-md-4">
                        <img src="/ui/img/profile_pic_school.jpg" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 id="schoolName"></h4>
                        <small><cite id="schoolId"></cite></small>
                        <p>
                            <span id="groupCount"></span>
                            <br />
                            <span id="studentCount"></span>
                            <br />
                            <span id="teacherCount"></span>
                        </p>
                        <div class="is_school_admin btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:editSchool()">Edit School</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:deleteSchool('#manage_school')">Delete School</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="school_maker" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" id="schoolForm"> 
        <center>
            <h2>Name Your School</h2>
            <input type="text" placeholder="School Name" name="school_name" required/>
            <button class="btn btn-orange" type="submit">Create School</button>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="password_generator" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" id="passwordGenForm"> 
        <center>
            <h2>Generate Your Password</h2>
            <hr>
            <label for="passlength">Password Length (Minimum 8) : &nbsp;&nbsp;
                <select name="passlength">
                    <option value=6>6 Characters</option>
                    <option selected="selected" value=8>8 Characters</option>
                    <option value=10>10 Characters</option>
                    <option value=12>12 Characters</option>
                </select>
            </label><br>
            <button class="btn btn-blue" type="submit">Generate Password</button>&nbsp;
        </center>
    </form>
</div>
<div id="school_editor" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" id="schoolEditForm"> 
        <center>
            <h2>Rename Your School</h2>
            <input type="text" placeholder="School Name" id="schoolEditForm_name" name="name" required/>
            <button class="btn btn-orange" type="submit">Edit School</button>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="assign_teacher" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" data-db-name="teachers" data-action="create"> 
        <center>
            <h2>Assign Teacher</h2>
            <hr>
            <input type="hidden" name="students" value="[]"/>
            <input type="hidden" name="groups" value="[]"/>
            <input type="hidden" name="admin" class="form_user_id"/>
            <input type="hidden" name="permissions" value="{}"/>
            <input type="hidden" name="image" value="/ui/img/person-default.jpg"/>
            <h3>Teacher Name</h3>
            <input type="text" placeholder="Teacher Name" name="name"/><br>
            <h3>Teacher Password (<button onclick="genpass(
                '#assign_teacher', '#teacher_pass'
            )">Generate Password (Optional)</button>)</h3>
            <input type="text" placeholder="Teacher Password" name="pass" id="teacher_pass"/>
            <h3>Group (Optional)</h3>
            <select name="group" class="group-select"></select><br><br>
            <button class="btn btn-orange" onclick="insertschooldb('teachers', 'create')">Assign teacher</button>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="assign_student" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" data-db-name="students" data-action="create"> 
        <center>
            <h2>Assign Student</h2>
            <hr>
            <input type="hidden" name="teachers" value="[]"/>
            <input type="hidden" name="groups" value="[]"/>
            <input type="hidden" name="admin" class="form_user_id"/>
            <input type="hidden" name="permissions" value="{}"/>
            <input type="hidden" name="image" value="/ui/img/person-default.jpg"/>
            <h3>Student Name</h3>
            <input type="text" placeholder="Student Name" name="name" required/><br>
            <h3>Student Password (<button onclick="genpass(
                '#assign_student', '#student_pass'
            )">Generate Password (Optional)</button>)</h3>
            <input type="text" placeholder="Student Password" name="pass" id="student_pass" required/>
            <h3>Group (Optional)</h3>
            <select name="group" class="group-select"></select><br><br>
            <button class="btn btn-orange" onclick="insertschooldb('students', 'create')">Assign student</button>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="permissions_editor" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" id="permissions_editor_form"> 
        <center>
            <h2>Update permissions for your <span id="schoolDb-type"></span></h2>
            <hr>
            <input type="hidden" name="id" id="permissionItemId"/>
            <table class="table table-hover table-generic">
                <thead>
                    <tr>
                        <td><a href="javascript:;" id="school-permissions-select" title="Select All Permissions">Selected</a></td>
                        <td>Permission Title</td>
                        <td>Permission Description</td>
                    </tr>
                </thead>
                <tbody id="school-permissions-list"></tbody>
            </table>
            <button class="btn btn-orange" onclick="insertschooldb(
                $('#schoolDb-type').text() + 's', 'apply_permissions', Object.fromEntries(
                    new URLSearchParams($('#permissions_editor_form').serialize())
                )
            )">Update permissions</button>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="group_maker" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" data-db-name="groups" data-action="create"> 
        <center>
            <h2>Name Your Group</h2>
            <hr>
            <input type="hidden" name="students" value="[]"/>
            <input type="hidden" name="teachers" value="[]"/>
            <input type="hidden" name="permissions" value="{}"/>
            <input type="hidden" name="admin" class="form_user_id"/>
            <input type="hidden" name="image" value="/ui/img/group-default.png"/>
            <input type="text" placeholder="Group Name" name="name"/>
            <button class="btn btn-orange" onclick="insertschooldb('groups', 'create')">Create group</button>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="group_editor" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" data-db-name="groups" data-action="modify"> 
        <center>
            <h2>Edit Your Group</h2>
            <hr>
            <input type="hidden" name="id" id="groupId"/>
            <h3>Group Name</h3>
            <input type="text" placeholder="Group Name" name="name" id="groupName"/>
            <h3>Group Code</h3>
            <div class="action-disabled">
                <input type="text" placeholder="Group Code" id="groupPass"/>
            </div>
            <button class="btn btn-orange" onclick="insertschooldb('groups', 'modify')">Edit group</button>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="teacher_editor" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" data-db-name="teachers" data-action="modify"> 
        <center>
            <h2>Edit Your Teacher</h2>
            <hr>
            <input type="hidden" name="id" id="teacherId"/>
            <h3>Teacher Name</h3>
            <input type="text" placeholder="Teacher Name" name="name" id="teacherName"/>
            <h3>Teacher Password (<button onclick="genpass(
                '#assign_teacher', '#teacherPass'
            )">Generate Password (Optional)</button>)</h3>
            <input type="text" placeholder="Teacher Password" name="pass" id="teacherPass"/>
            <h3>Group (Optional)</h3>
            <select name="group" class="group-select" id="teacherGroup"></select><br><br>
            <button class="btn btn-orange" onclick="insertschooldb('teachers', 'modify')">Edit teacher</button>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="stuff-uploading-overlay" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">We are currently uploading your stuff right now.</h3>
            </div>
            <div class="modal-body">Please wait until your stuff is done uploading. it should not take long.</div>
        </div>
    </div>
</div>
<div id="apiKeysOverlay" class="modal">
    <form class="modal-dialog modal-lg" id="apiKeyForm" action="javascript:;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">Your API Keys</h3>
            </div>
            <center class="modal-body">
                <p>These keys are for stuff like tts usage with the QVM and etc. if you want to put in your own api keys, please do so on the form below.</p><br>
                <p id="error-message" style="color: red;"></p><br>
                <label for="freeconvert-key">Api Key For FreeConvert <a href="/public_faq?action=openModal&target=freeConvertKeyTutorial">How do i get that?</a></label><br>
                <input id="freeconvert-key" type="text"/><br>
                <a href="/public_faq?action=getExplination&open=faq15&scrollTo=troubleshooting">Why do i need both my Topmediai and FreeConvert API Keys?</a><br>
                <input type="submit" class="btn btn-orange" id="submitbtn" value="Submit API Keys"/>
            </center>
        </div>
    </form>
</div>
<div id="FlashGamePlayer" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="hideFlashGame()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">Flash Game Player</h3>
            </div>
            <center class="modal-body">
                <input id="FlashGamePlayer_swfUrl" onkeypress="FlashGameSetup()" onchange="FlashGameSetup()" style="margin: 0px; width: 700px; height: 29px;" placeholder="Your SWF URL"/>
                <div id="FlashGamePlayer_body">
                    To get started, type in your SWF file url in the text box above.
                </div>
                <div class="dropdown" style="display: none;" id="FlashGamePlayer_swfFilesDropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Your SWF Files <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="FlashGamePlayer_swfFilesAll"></ul>
                </div>
            </center>
        </div>
    </div>
</div>
<div class="modal" id="FlashThemesMovieUploader">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="converter_modalLoad" class="modal"></div>
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">FlashThemes Movie Uploader</h3>
            </div>
            <center class="modal-body">
                <p>Because FlashThemes did not add this feature, we are adding it ourselves. please thank us for doing all of the hard work we could for you all.</p>
                <p id="flashthemes_movie_uploader_error" style="color: red;"></p>
                <p id="flashthemes_movie_uploader_success" style="color: green;"></p>
                <form action="javascript:;" id="flashthemesMovieUploaderForm">
                    <input type="file" id="file" name="import" id="flashthemesMovieUploader" style="display: none;"/>
                    <a href="javascript:;" onclick="document.getElementById('flashthemesMovieUploader').click()">Upload your movie zip from this device</a>
                    <h4>OR</h4>
                    <p>Select a movie from the list</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Movie Thumbnail</th>
                                <th>Movie Title</th>
                                <th>Movie Description</th>
                                <th>Last Modified</th>
                            </tr>
                        </thead>
                        <tbody id="mymovies2convert"></tbody>
                     </table>
                    <h4>OR</h4>
                    <label for="movieUploaderViaURL">Upload a movie from a URL (Must lead to a zip file) <input type="text" id="movieUploaderViaURL" name="movieURL"/></label><br>
                    <button class="btn btn-orange" type="submit" id="movieUploaderSubmitBtn">Begin Movie Upload</button>
                </form>
            </center>
        </div>
    </div>
</div>
<div class="modal" id="FlashThemesConverter">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="converter_modalLoad" class="modal"></div>
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">FlashThemes Video Converter</h3>
            </div>
            <center class="modal-body">
                <h1>FlashThemes Video Converter</h1>
                <form action="javascript:;" class="converterForm" data-for="flashthemes" data-converting="true">
                    <input name="url" type="text" placeholder="Paste FlashThemes Video link" style="margin: 0px; width: 822px; height: 29px;"/><br>
                    <button type="submit" value="Start">
                        <span class="start-btn">Start</span>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </form>
                <progress id="converter_loading" style="display: none;"></progress>
                <div id="converter_result" style="display: none;">
                    <img id="converter_thumbnail"><br>
                    <p id="converter_videoTitle"></p><br>
                    <form action="javascript:;" class="converterForm" data-for="flashthemes" data-converting="false">
                        Video type<br>
                        <select name="videoType">
                            <option value="zip">ZIP</option>
                            <option value="import">Import Video To GoNexus</option>
                        </select><br>
                        <a id="converter_videoDownload"></a><br>
                        <input type="submit" id="converter_submitbtn" value="Convert Video"/>
                    </form>
                </div>
                <p id="converter_error" style="color: red;"></p>
            </center>
            <section class="text-section mt-10 modal-footer">
                <div class="custom_container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="intro-h2">Best FlashThemes Video Converter</h2>
                            <p class="intro-text">FlashThemes may be the best LVM project of the year, but with some features like zip file downloading missing from user videos, it is impossible to import your FlashThemes creations onto Wrapper: Offline. but thanks to JosephAnimate, you won&#039;t have to worry about that happening again.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-7">
                            <h3><b>How to Download <br>FlashThemes videos<br> with GoNexus?</b></h3>
                            <div class="features">
                                <ul class="itemstyle">
                                    <li>Go to the Useful Tools dropdown menu<br> and click on FlashThemes Converter</li>
                                    <li>from there, paste in<br> your FlashThemes Video URL in<br> the box below. This Tool will then fetch<br> the video info from the URL.</li>
                                    <li>Select the file type you want your video to be downloaded at.<br> your video can be downloaded as a zip file<br> and you can even import your converted video to GoNexus!<br> after that, click on the &quot;Convert&quot; button</li>
                                    <li>After the conversion is successfully completed,<br> hit the &quot;Download&quot; button. <br>(For Video Importing, you will automatically be redirected)</li>
                                    <li>Once the video is downloaded,<br> you are ready to import the video to Wrapper: Offline<br> and any LVM clone you can find including GoNexus!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h3><b>Why use the FlashThemes Video Converter?</b></h3>
                            <div class="features">
                                <ul class="itemstyle">
                                    <li>Unlimited Downloads, so you can download all your videos for free without spending any FlashCoins.</li>
                                    <li>If you ever wanted someone&#039;s comedy world character, you can simply use the converter to download a video that has a comedy world character and boom you have it!</li>
                                    <li>Exporting for free has never been possible, but after using the converter, you may export the video to an MP4 format at any time. we can&#039;t add it here so that way we can prevent this tool from being taken down.</li>
                                    <li>No FlashThemes Account is required here (except for some videos that are not public), this tool is totally free.</li>
                                    <li>Support Downloading multiple formats, e.g. MP4 and MP3.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row pt-5">
                        <div class="col-md-4 text-center">
                            <span class="glyphicon40 glyphicon glyphicon-refresh"></span>
                            <h4><b>Unlimited Downloads</b></h4>
                            <p>We offer unlimited downloads of FlashThemes videos to zip and xml.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="glyphicon40 glyphicon glyphicon-download-alt"></span>
                            <h4><b>Auto Fetch from FlashThemes</b></h4>
                            <p>We automatically fetch data from FlashThmes. you just have to copy and paste the FlashThemes Video URL.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="glyphicon40 glyphicon glyphicon-user"></span>
                            <h4><b>No FlashThemes Account Required</b></h4>
                            <p>You don&#039;t need a FlashThemes account to convert and download FlashThemes videos to zip and xml formats.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="FTAccLinkageWindowLightbox" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" id="ftacclinkageformlightbox"> 
        <center>
            <h2>Link Your FlashThemes Account</h2>
            <p id="ftacclinkageerrorlightbox" style="color: red;"></p>
            <label for="ftpswlightbox">FlashThemes Account Password <input id="ftpswlightbox" type="password"/></label><br>
            <input class="btn btn-orange" id="ftacclinkagebuttonlightbox" type="submit" value="Link Your FlashThemes Account"/>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="movieUploadingOverlayAfterLogin" class="lightbox" style="display:none">
    <div class="lightbox_wrapper"> 
        <center>
            <h2>Uploading Your Movie To FlashThemes..</h2>
            <p>Your movie should be done uploading soon. Please be patient.</p>
        </center>
    </div>
</div>
<div id="FTAccLoginWindowLightbox" class="lightbox" style="display:none">
    <form class="lightbox_wrapper" action="javascript:;" id="flashthemesloginlightbox"> 
        <center>
            <h2>Sign In With Your FlashThemes Account</h2>
            <p id="flashthemesloginrrorlightbox" style="color: red;"></p>
            <label for="ftemaillightbox">Email <input id="ftemaillightbox" type="email"/></label><br>
            <label for="ftloginpswlightbox">Password <input id="ftloginpswlightbox" type="password"/></label><br>
            <input class="btn btn-orange" id="loginbtnftacclightbox" type="submit" value="Login"/>
            <a type="button" id="forgotftpswlightbox" class="btn btn-default" href="https://flashthemes.net/forgotpassword">i forgot my password for my flashthemes account</a>
        </center>
        <a onclick="hideOverlayOnElement()" class="close_btn">&#215;</a>
    </form>
</div>
<div id="stuff-downloading-overlay" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">We are currently downloading your stuff right now.</h3>
            </div>
            <div class="modal-body">Please wait until your stuff is done downloading. it should not take long.</div>
        </div>
    </div>
</div>
<div id="ft-acc-required" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">FlashThemes Account Required</h3>
            </div>
            <div class="modal-body" id="ft-action"></div>
            <div class="modal-footer">
                <button class="btn btn-green" id="linkFTAccBtnlightbox" onclick="showOverlayOnElement('#ft-acc-required', jQuery('#FTAccLinkageWindowLightbox'))">Link A FlashThemes Account</button>
                <button class="btn btn-orange" id="loginFTAccBtnlightbox" onclick="showOverlayOnElement('#ft-acc-required', jQuery('#FTAccLoginWindowLightbox'))">Login With A FlashThemes Account</button>
            </div>
        </div>
    </div>
</div>
<script>
    const school_permissions_list = [
        {
            permission: 'publicvids',
            name: 'Option To Make Videos Public',
            desc: 'Allows a user to make their video visible to the people who go on this website.'
        },
        {
            permission: 'flashthemes',
            name: 'Usage Of FlashThemes Features On GoNexus',
            desc: 'Allows a user to connect with the flashthemes.net website to use certain features that require the website to be used.'
        },
        {
            permission: 'apiKey',
            name: 'Update API Keys',
            desc: 'Allows a user to insert their own api keys into GoNexus.'
        },
        {
            permission: 'displayNameUpdate',
            name: 'Update Display Name',
            desc: 'Allows a user to update their Display Name whatever they want.'
        },
        {
            permission: 'ttsApiUpdate',
            name: 'Update TTS Api',
            desc: 'Allows a user to update the tts api GoNexus uses on their end to generate voices.'
        },
        {
            permission: 'customcss',
            name: 'Update Custom CSS',
            desc: 'Allows a user to update how this website looks on their end.'
        },
    ]
    function genpass(source, field) {
        var currentElem = lightboxElement;
        hideOverlayOnElement();
        showOverlayOnElement(currentElem, $('#password_generator'))
        $("#passwordGenForm").submit(() => {
            const passwordgenforminfo = Object.fromEntries(
                new URLSearchParams(
                    $("#passwordGenForm").serialize()
                )
            );
            $(field).val(genid(passwordgenforminfo.passlength));
            hideOverlayOnElement();
            showOverlayOnElement(currentElem, $(source));
        })
    }
    function editSchool() {
        $("#schoolEditForm_name").val(schoolInfo.name);
        showOverlayOnElement('#manage_school', $('#school_editor'))
    }
    function edit(type, id, elem) {
        jQuery(elem).block();
        const info = schoolInfo[type + 's'].find(i => i.id == id);
        $(`#${type}Id`).val(id);
        $(`#${type}Name`).val(info.name);
        decryptText('AES', info.pass, 'Secret Passphrase', (text) => setTimeout(() => {
            var actualPasswordLength = 159.5;
            if (type == "group") {
                actualPasswordLength += info.pass.length;
                for (var i of text.split("-")) {
                    actualPasswordLength += i.length;
                }
            } else $(`#${type}Group`).find(`option[value='${info.group}']`).prop("selected", true);
            $(`#${type}Pass`).val(text).css("width", actualPasswordLength);
            hideOverlayOnElement();
            showOverlayOnElement(elem, $(`#${type}_editor`));
        }, 500));
    }
    function deleteSchool(elem) {
        const delSchoolConfirm = confirm(`Are you sure that you want to delete a school called ${
            schoolInfo.name
        }? Any data created by your students & teachers will be deleted during this process!`)
        if (delSchoolConfirm) {
            jQuery(elem).block();
            jQuery.post("/api/school/delete", {
                user: JSON.stringify(userData),
            }, (d) => {
                $(elem).unblock().modal('hide');
                displayFeedback(d);
                getSchoolInfo();
            });
        }
    }
    const genid = (length, callback) => {
        let result = '';
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        for (let i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        if (callback && typeof callback == "function") callback(result);
        else return result;
    };
    function insertschooldb(type, action, json, callback) {
        var currentElem = lightboxElement;
        hideOverlayOnElement();
        jQuery(currentElem).block();
        $(".lightbox_wrapper").each(function(index, elem) {
            if (
                json || (
                    $(elem).data("db-name") 
                    && $(elem).data("db-name") == type 
                    && $(elem).data("action") 
                    && $(elem).data("action") == action
                )
            ) {
                const formdata = json || Object.fromEntries(new URLSearchParams($(elem).serialize()));
                $.post(`/api/schooldb/${type}/${action}`, {
                    user: JSON.stringify(userData),
                    formdata: json ? new URLSearchParams(json).toString() : $(elem).serialize(),
                    id: action == "create" ? genid(7) : formdata.id,
                    type,
                    pass: genid(7)
                }, d => {
                    if (callback && typeof callback == "function") callback();
                    hideOverlayOnElement();
                    $(currentElem).modal('hide');
                    displayFeedback(d || "1Unable to connect to the server");
                    getSchoolInfo();
                })
            }
        });
    }
    jQuery("#schoolEditForm").submit(() => {
        var currentElem = lightboxElement;
        hideOverlayOnElement();
        jQuery(currentElem).block();
        jQuery.post("/api/school/modify", {
            user: JSON.stringify(userData),
            formdata: jQuery("#schoolEditForm").serialize()
        }, function(d) {
            hideOverlayOnElement();
            $(currentElem).modal('hide');
            displayFeedback(d);
            getSchoolInfo();
        });
    })
    jQuery("#schoolForm").submit(function() {
        var currentElem = lightboxElement;
        hideOverlayOnElement();
        jQuery(currentElem).block();
        jQuery.post("/api/school/create", {
            user: JSON.stringify(userData),
            formdata: jQuery("#schoolForm").serialize()
        }, function(d) {
            hideOverlayOnElement();
            $(currentElem).modal('hide');
            displayFeedback(d);
            getSchoolInfo();
        });
    })
    let uploadMovieAfterLoginIsComplete = false;
    function uploadMovieAfterLoginComplete() {
        if (!uploadMovieAfterLoginIsComplete) uploadMovieAfterLoginIsComplete = true;
    }
    $("#flashthemesMovieUploaderForm").submit(() => {
        if (processing) return;
        processing = true;
        const origText = $("#movieUploaderSubmitBtn").text();
        $("#movieUploaderSubmitBtn").text('Uploading Your Movie To FlashThemes...');
        $("#flashthemes_movie_uploader_error").text('');
        $("#flashthemes_movie_uploader_success").text('');
        const json = Object.fromEntries(new URLSearchParams($("#flashthemesMovieUploaderForm").serialize()));
        const formData = new FormData();
        for (const i in json) if (i != "import") formData.append(i, json[i]);
        formData.append("import", document.getElementById('file').files[0])
        $.ajax({
            url: "/api/uploadMovie2FlashThemes",
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json"
        }).done((d) => {
            processing = false;
            $("#movieUploaderSubmitBtn").text(origText);
            if (d.success) $("#flashthemes_movie_uploader_success").html(`Your movie has been uploaded to FlashThemes successfully. to go to your movie in FlashThemes, you may click <a href="${
                d.movieURL
            }">here</a>.`);
            else $("#flashthemes_movie_uploader_error").html(d.error);
        });
    })
    $("#ftacclinkageformlightbox").submit(() => {
        if (processing || userData.role) return alert('Linking a FlashThemes account is either in progress or your account just does not allow linking your flashthemes account.');
        $("#ftacclinkageerrorlightbox").text("");
        $(".close_btn").hide();
        processing = true;
        const origText = $("#ftacclinkagebuttonlightbox").val();
        $("#ftacclinkagebuttonlightbox").val("Linking FlashThemes Account...");
        jQuery.post('/api/checkFTAcc', {
            lc: "en_US",
            returnto: "/",
            email: userData.email,
            password: jQuery("#ftpswlightbox").val()
        }, d => {
            const code = `${d.split("{")[0]}`;
            switch (code) {
                case '0': {
                    jQuery.post('/api/linkAccount', {
                        code: '0',
                        type: "FlashThemes",
                        uid: userData.uid,
                        password: jQuery("#ftpswlightbox").val()
                    }, d => {
                        if (d.success) {
                            hideOverlayOnElement();
                            displayFeedback(0 + "Success!");
                            $("#linkFTAccBtnlightbox").removeClass("btn-green");
                            $("#linkFTAccBtnlightbox").addClass("disabled");
                            $("#linkFTAccBtnlightbox").click(() => location.href = 'javascript:;');
                            $("#linkFTAccBtnlightbox").text("Already Linked");
                            $("#loginFTAccBtnlightbox").hide();
                        } else {
                            processing = false;
                            $("#ftacclinkagebuttonlightbox").val(origText);
                            $("#ftacclinkageerrorlightbox").text(d.error);
                            $(".close_btn").show();
                        }
                    });
                    break;
                } case '1': {
                    const json = JSON.parse(d.split("1")[1]);
                    processing = false;
                    $("#ftacclinkagebuttonlightbox").val(origText);
                    $("#ftacclinkageerrorlightbox").text(json.errmsg);
                    $(".close_btn").show();
                    break;
                }
            }
        })
    })
    $("#flashthemesloginlightbox").submit(() => {
        if (processing) return;
        $(".close_btn").hide();
        $("#forgotftpswlightbox").hide();
        const origText = $("#loginbtnftacclightbox").val();
        $("#loginbtnftacclightbox").val('Logging In...');
        $("#flashthemesloginrrorlightbox").text('');
        processing = true;
        jQuery.post('/api/checkFTAcc', {
            lc: "en_US",
            returnto: "/",
            email: jQuery("#ftemaillightbox").val(),
            password: jQuery("#ftloginpswlightbox").val()
        }, d => {
            const code = `${d.split("{")[0]}`;
            switch (code) {
                case '0': {
                    jQuery.post('/api/addFTAcc', {
                        code: '0',
                        lc: "en_US",
                        returnto: "/",
                        email: jQuery("#ftemaillightbox").val(),
                        password: jQuery("#ftloginpswlightbox").val(),
                        uid: userData.uid || userData.id
                    }, d => {
                        if (d.displayNameRequired) {
                            let displayName = prompt("Please Enter In Your Display Name.", "");
                            while (!displayName || displayName == null) displayName = prompt("Please Enter In Your Display Name.", "");
                            jQuery.post('/api/addFTAcc', {
                                displayName,
                                code: '0',
                                lc: "en_US",
                                returnto: "/",
                                email: jQuery("#ftemaillightbox").val(),
                                password: jQuery("#ftloginpswlightbox").val()
                            }, d => {
                            if (d.success) location.href = '/dashboard';
                            else {
                                    processing = false;
                                    $(".close_btn").show();
                                    $("#forgotftpswlightbox").show();
                                    $("#loginbtnftacclightbox").val(origText);
                                    $("#flashthemesloginrrorlightbox").text(d.error);
                                }
                            });
                        } else if (d.success) {
                            if (uploadMovieAfterLoginIsComplete && processing) {
                                hideOverlayOnElement();
                                const origText = $("#movieUploaderSubmitBtn").text();
                                $("#movieUploaderSubmitBtn").text('Uploading Your Movie To FlashThemes...');
                                $("#flashthemes_movie_uploader_error").text('');
                                $("#flashthemes_movie_uploader_success").text('');
                                const json = Object.fromEntries(new URLSearchParams($("#flashthemesMovieUploaderForm").serialize()));
                                const formData = new FormData();
                                for (const i in json) if (i != "import") formData.append(i, json[i]);
                                formData.append("import", document.getElementById('file').files[0])
                                $.ajax({
                                    url: "/api/uploadMovie2FlashThemes",
                                    method: "POST",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    dataType: "json"
                                }).done((d) => {
                                    processing = false;
                                    $("#movieUploaderSubmitBtn").text(origText);
                                    if (d.success) $("#flashthemes_movie_uploader_success").html(`Your movie has been uploaded to FlashThemes successfully. to go to your movie in FlashThemes, you may click 
                                    <a href="${d.movieURL}">here</a>.`);
                                    else $("#flashthemes_movie_uploader_error").html(d.error);
                                    uploadMovieAfterLoginIsComplete = false;
                                });
                            } else location.href = '/dashboard';
                        }
                        else {
                            processing = false;
                            $(".close_btn").show();
                            $("#forgotftpswlightbox").show();
                            $("#loginbtnftacclightbox").val(origText);
                            $("#flashthemesloginrrorlightbox").text(d.error);
                        }
                    });
                    break;
                } case '1': {
                    processing = false;
                    const json = JSON.parse(d.split('1')[1]);
                    $(".close_btn").show();
                    $("#forgotftpswlightbox").show();
                    $("#loginbtnftacclightbox").val(origText);
                    $("#flashthemesloginrrorlightbox").text(json.errmsg);
                    break;
                }
            }
        });
    })
    let lightboxElement, processing;
    function hideOverlayOnElement() {
        if (uploadMovieAfterLoginIsComplete) uploadMovieAfterLoginIsComplete = false;
        $(lightboxElement).unblock();
    }
    function showOverlayOnElement(e, c) {
        lightboxElement = e;
        jQuery(e).block({
            message: c,
            css: {
                padding: 0,
                margin: 0,
                width: "auto",
                top: "100px",
                left: "29%",
                textAlign: "center",
                color: "#000",
                border: "none",
                backgroundColor: "#928e8e",
                cursor: "auto"
            },
            overlayCSS: {
                cursor: "auto"
            }
        });
    }
    function setupFTAccRequiredModal(msg) {
        if (msg) {
            $("#ft-action").text(msg);
            $("#ft-acc-required").modal({
                keyboard: false,
                backdrop: "static"
            });
        } else alert('FT Action Required!');
    }
    function setupFlashThemesMovieUploader() {
        jQuery.post('/api/getAllUsers', d => {
            const userInfo = d.find(i => i.id == userData.uid || userData.id);
            if (!userInfo.isFTAcc) setupFTAccRequiredModal('You need a FlashThemes Account in order to upload your movie to FlashThemes');
            else {
                $("#mymovies2convert").html(userInfo.movies.map(movieInfo => `<tr>
                    <td>
                        <img height="30" width="50" src="/movie_thumbs/${movieInfo.id}.png"/>
                    </td>
                    <td>${movieInfo.title}</td>
                    <td>${movieInfo.desc}</td><td>${
                        movieInfo.date.split("T")[0].split("-")[1]
                    }/${movieInfo.date.split("T")[0].split("-")[2]}/${movieInfo.date.split("T")[0].split("-")[0]}
                    <input type="radio" name="movieId" value="${movieInfo.id}"/></td>
                </tr>`).join(""));
                $("#FlashThemesMovieUploader").modal({
                    keyboard: false,
                    backdrop: "static"
                })
            }
        })
    }
    for (const elem of document.getElementsByClassName("converterForm")) {
        $(elem).submit(() => convertVideo(elem));
    }
    const hideFlashGame = () => jQuery("#FlashGamePlayer_body").text('To get started, type in your SWF file url in the text box above.').css("color", "black");
    function FlashGameSetup(fileUrl) {
        if ($.flash.available) {
            jQuery("#FlashGamePlayer_body").flash({
                swf: fileUrl ? fileUrl : ("#FlashGamePlayer_swfUrl").val(),
                quality: "high",
                height: "400",
                width: "700"
            });
        } else jQuery("#FlashGamePlayer_body").css("color", "red").text("You need to Adobe Flash Player installed in order to play Flash Games");
    }
    function convertVideo(elem) {
        if (apiKeySubmiting) return;
        $("#converter_error").text('');
        apiKeySubmiting = true;
        if ($(elem).data("converting")) {
            $("#converter_loading").show();
            $("#converter_result").hide();
            $("#converter_videoDownload").hide();
        } else {
            if (document.getElementById('converter_videoDownload')) $("#converter_videoDownload").hide();
            $("#converter_submitbtn").val('Converting Video...');
        }
        jQuery.post(`/api/beginVideoConvertFromURL`, {
            converting: $(elem).data("converting"),
            for: $(elem).data("for"),
            body: $(elem).serialize(),
            loggedIn: userData && hasPermission('flashthemes') ? 'true' : 'false',
            userParams: new URLSearchParams(userData).toString()
        }, d => {
            apiKeySubmiting = false;
            if ($(elem).data("converting")) {
                $("#converter_loading").hide();
                if (d.success) {
                    document.getElementById('converter_thumbnail').src = d.thumbnailUrl;
                    $('#converter_videoTitle').text(d.videoTitle.split("&amp;").join("&").split("&#39;").join("'"));
                    $("#converter_result").show();
                } else $("#converter_error").text(d.error);
            } else {
                if (d.success) {
                    if (d.data.videoType == "import") {
                        $("#converter_submitbtn").val('Redirecting...');
                        location.href = d.redirect;
                    } else {
                        $("#converter_submitbtn").val('Convert Video');
                        $("#converter_videoDownload").show();
                        const downloadUrlElem = document.getElementById('converter_videoDownload');
                        downloadUrlElem.innerHTML = 'Download Video';
                        downloadUrlElem.href = d.downloadUrl;
                        downloadUrlElem.download = `${$('#converter_videoTitle').text()}.${d.fileExt}`;
                    }
                } else {
                    $("#converter_submitbtn").val('Convert Video');
                    $("#converter_error").text(d.error);
                }
            }
        });
    }
    function hasPermission(type) {
        return !userData.role || (userData.permissions[type] && userData.permissions[type] == '1');
    }
    let apiKeySubmiting = false;
    jQuery("#apiKeyForm").submit(() => {
        if (apiKeySubmiting) return;
        jQuery("#error-message").text("")
        apiKeySubmiting = true;
        const origText = jQuery("#submitbtn").val();
        jQuery("#submitbtn").val("Submiting...");
        if (!jQuery("#topmediaai-key").val() && !jQuery("#freeconvert-key").val()) {
            apiKeySubmiting = false;
            jQuery("#error-message").text("Please enter one of the api keys");
            jQuery("#submitbtn").val(origText);
        } else {
            jQuery.post(`/api/fetchAPIKeys${userData && hasPermission('apiKey') ? `?uid=${
                userData.uid || userData.id
            }` : ''}`, (d) => {
                const json = JSON.parse(d);
                if (json.topMediaAIKey == jQuery("#topmediaai-key").val() && json.freeConvertKey ==  jQuery("#freeconvert-key").val()) {
                    apiKeySubmiting = false;
                    jQuery("#error-message").text("Both of the api keys cannot be the same as the api keys stored in the server. please change one of the api keys.");
                    jQuery("#submitbtn").val(origText);
                } else {
                    jQuery.post("/api/submitAPIKeys", {
                        topMediaAIKey: jQuery("#topmediaai-key").val(),
                        freeConvertKey: jQuery("#freeconvert-key").val(),
                        uid: userData && hasPermission('apiKey') ? (userData.uid || userData.id) : ""
                    }, (d) => {
                        const json = JSON.parse(d);
                        apiKeySubmiting = false;
                        jQuery("#submitbtn").val(origText);
                        if (!json.success) jQuery("#error-message").text(json.message);
                        else {
                            jQuery("#apiKeysOverlay").modal('hide');
                            displayFeedback(0 + json.message);
                        }
                    })
                }
            });
        }
    });
    function del(type, id, elem) {
        var delConfirm = confirm(`Are you sure that you want to delete ${
            type.slice(0, -1)
        } ${id}? Any data created will be lost forever and cannot be undone!`);
        if (delConfirm) {
            jQuery(elem).block();
            insertschooldb(type, 'delete', {
                id
            }, () => {
                hideOverlayOnElement();
                $(elem).modal('hide');
            })
        }
    }
    function permissions(type, id, elem) {
        jQuery(elem).block();
        var timer = 0;
        function getSchooltypeInfo() {
            return new Promise((res, rej) => {
                jQuery.post('/api/getAllUsers', d => {
                    const userInfo = d.find(i => i.id == (userData.admin || userData.uid || userData.id));
                    for (const i in userInfo.school) {
                        if (typeof userInfo.school[i] != "string") {
                            const schoolInfo = userInfo.school[i].find(s => s.id == id);
                            if (schoolInfo) res(schoolInfo);
                        }
                    }
                })
            })
        }
        /*
        for some reason, 
        adding clicks to an html element without turning them off breaks the element click feature 
        and i have no idea why.
        */
        $("#school-permissions-select").off("click");
        $("#school-permissions-select").on("click", () => {
            for (var i = 0; i < school_permissions_list.length; i++) {
                const permissionInfo = school_permissions_list[i];
                if (permissionInfo.selected) permissionInfo.selected = false;
                else permissionInfo.selected = true;
                $(`.${id}_permission`).prop("checked", permissionInfo.selected)
            }
        })
        $("#permissionItemId").val(id);
        $("#schoolDb-type").text(type);
        for (const classes of [
            'teachers',
            'students',
            'groups'
        ]) $("#permissions_editor").removeClass(classes);
        $("#permissions_editor").addClass(type + 's');
        $("#school-permissions-list").html(``);
        for (const permissionInfo of school_permissions_list) {
            timer += 100;
            getSchooltypeInfo().then(schoolInfo => {
                permissionInfo.selected = schoolInfo.permissions[permissionInfo.permission] == '1'
                $("#school-permissions-list").append(`<tr><td><input type="checkbox" name="${
                    permissionInfo.permission
                }" class="${id}_permission" ${
                    permissionInfo.selected ? 'checked' : ''
                }/></td><td>${permissionInfo.name}</td><td>${
                    permissionInfo.desc
                }</td></tr>`)
            });
        }
        setTimeout(() => {
            hideOverlayOnElement();
            showOverlayOnElement(elem, $("#permissions_editor"));
        }, timer)
    }
    if (localStorage.getItem("u_info_school")) decryptText(
        'AES', localStorage.getItem("u_info_school"), 'User Info 4 School', (text) => {
            loggedIn(JSON.parse(text));
        }
    )
    function decryptText(type, text, word, callback) {
        if (callback && typeof callback == "function") {
            $.post(`/api/CryptoJS/${type}/decrypt`, {
                text,
                word
            }).done(callback);
        }
    }
    function copyText(elem, elem2) {
        // Get the text field
        var copyText = $(elem)[0];

        // Select the text field
        copyText.select();

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text
        jQuery(elem2).block({
            message: "Copied the text: " + copyText.value
        });
        setTimeout(() => jQuery(elem2).unblock(), 2000)
    }
</script>
