<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="dns-prefetch" href="/">
        <title>Create - GoNexus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" type="text/css">
        <link href="/ui/css/common_combined.css" rel="stylesheet" type="text/css">
        <link href="/ui/css/videomaker.css" rel="stylesheet" type="text/css">
        <script src="/js/common_combined.js"></script>
        <style>
            #other-options,
            #tutorial-chars,
            #studio-eras {
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 10px;
                padding: 10px;
            }
            .tutorial-char,
            #grid-item,
            .studio-build {
                background-color: rgba(255, 255, 255, 0.8);
                text-align: center;
            }
            .tutorial-char-active,
            .studio-build-active {
                background-color: rgb(0, 38, 255);
                text-align: center;
            }
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                src: local('Lato Regular'), local('Lato-Regular'), url(/ui/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
            }
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                src: local('Lato Bold'), local('Lato-Bold'), url(/ui/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
            }
            .preview-button {
                background-image: linear-gradient(rgb(182, 176, 176), rgb(43, 42, 42));
                border: 0;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                line-height: 36px;
                padding: 0 25px;
                margin:0 7px
            }
            .preview-button:hover {
                color: blue;
            }
        </style>
    </head>
    <body class="page-action-videomaker">
        <div class="modal" id="studioBlock">
            <div class="modal-dialog modal-lg" style="width: 991px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="closeStudio">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h2 class="modal-title">Custom LVM</h2>
                    </div>
                    <div class="modal-body" id="studiodiv">You need Adobe Flash Player in order to use the Custom LVM</div>
                </div>
            </div>
        </div>
        <div class="modal" id="customLVM">
            <div class="modal-dialog modal-lg">
                <form class="modal-content" action="javascript:;" id="createVideoForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h2 class="modal-title">Custom LVM</h2>
                    </div>
                    <p id="error-message-lvmSelector" style="color: red;"></p>
                    <center class="modal-body">
                        <p>In order to use a custom LVM in your video, please type in a year and filename of any LVM below.</p>
                        <p>https://wrapperclassic.netlify.app/animation/<input 
                            type="text" id="customlvmyear" value="2015" placeholder="Custom LVM Year" 
                            oninput="selectLVM()"/>/<input 
                            type="text" name="customlvmfile" value="go_full_late.swf" 
                            placeholder="Custom LVM Filename"/>
                        </p>
                        <br>
                    </center>
                    <center class="modal-footer">
                        <h2>Other options</h2>
                        <div id="other-options">
                            <p id="grid-item" class="tutorial">Tutorial <input type="checkbox" name="tutorial" onclick="tutCharOption(studio)"></p>
                            <p id="grid-item" class="widescreen">Widescreen <input type="checkbox" name="widescreen" checked></p>
                            <div id="grid-item" class="tutorialchar2010" style="display: none;">
                                <h4>Select Your Character To Use For The 2010 LVM Tutorial</h4><br>
                                <p>Because the 2010 lvm tutorial only supports the characters from Comedy World, you will only be allowed to select any characters from Comedy World. <br>
                                    we are not sure if the 2010 lvm tutorial also supports characters from other themes. <br>
                                    but for now, this is what we are doing.</p><br>
                                <div id="tutorial-chars"></div>
                            </div>
                        </div>
                        <div id="lvmmode">
                            <p>Mode</p>
                            <select name="lvmmode">
                                <option value="block">Modal Window</option>
                                <option value="full">Full Screen</option>
                            </select>
                        </div>
                        <div id="ct2010" style="display: none;">
                            <p>LVM Style</p>
                            <select name="ct2010">
                                <option value="go">Normal</option>
                                <option value="domo">Domo</option>
                                <option value="cn">Cartoon Network</option>
                            </select>
                        </div>
                        <div id="ct2011" style="display: none;">
                            <p>Color Theme</p>
                            <select name="ct2011">
                                <option value="silver">Dark</option>
                                <option value="go" selected>Silver</option>
                            </select>
                        </div>
                        <div id="ct2012" style="display: none;">
                            <p>Color Theme</p>
                            <select name="ct2012">
                                <option value="go">Dark</option>
                                <option value="silver" selected>Silver</option>
                            </select>
                        </div><br>
                        <button onclick="(() => {
                            $('#customLVM').block()
                            $('#error-message-lvmSelector').text('');
                            studio = $('#customlvmyear').val();
                            newAnimation(Object.fromEntries(new URLSearchParams($('#createVideoForm').serialize())));
                        })()" class="btn btn-orange">Create a Video</button>
                    </center>
                </form>
            </div>
        </div>
        <div class="modal" id="studioLoading">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Loading The Studio...</h2>
                    </div>
                    <div class="modal-body">Please wait until we are done loading the studio.</div>
                </div>
            </div>
        </div>
        <div id="import_popup_container" class="lightbox" style="display:none">
            <div id="lightbox_wrapper">
                <h5>Import an Asset <a style="float: right;" href="javascript:;" 
                    onclick="jQuery('#studiodiv').unblock();">×</a>
                </h5>
                <!-- Import form -->
                <div id="import_image">
                    <form id="uploadbanner" enctype="multipart/form-data" method="post" action="javascript:;">
                        <input id="fileupload" name="import" type="file" accept=".mp3,.wav,.png,.jpg" required>
                        <div id="importQuene"></div>
                    </form>
                </div>
            </div>
        </div>
        <div id="previewPlayerContainer" class="lightbox" style="display: none; width: 700px;">
            <div class="lightbox_wrapper">
                <h5>Preview Video <a style="float: right;" href="javascript:;" onclick="jQuery('#studiodiv').unblock();">×</a></h5>
                <div id="playerdiv"></div>
                <div style="margin-bottom: auto;">
                    <button class="preview-button" onclick="jQuery('#studiodiv').unblock();">< Back to editing</button>
                    <button class="preview-button" style="float: right;" onclick="jQuery('#studiodiv').unblock(); jQuery('#Studio')[0].onExternalPreviewPlayerPublish()">Save Now ></button>            
                </div>
            </div>
        </div>
        <%- include("includes/header.ejs", {
            isVideoList: true
        }) %>
        <div class="container">
            <div class="create-header">
                <h1 class="h3">Select a Theme</h1>
            </div>
            <div class="themes row" id="themes" data-row-1></div>
            <div class="themes row" id="themes" data-row-2></div>
        </div>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-app.js"></script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-auth.js"></script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/init.js"></script>
        <script src="/js/user.js"></script>
        <script>
            let tId, tmcId, studio = "2016", chars = [], hasChars = false, themes = [], loadingStudio = false, previewerMovieXML, previewerFlashvars;
            const flashvars = {
                isOffline: window.location.host.startsWith("localhost") ? 1 : 0,
                apiserver: window.location.origin + "/",
                staticserver: "https://wrapperclassic.netlify.app/",
                isEmbed: 1,
                ut: "50",
                appCode: "go",
                siteId: window.location.host.startsWith("localhost") ? 7 : "go",
                lid: window.location.host.startsWith("localhost") ? 7 : 13,
                isLogin: "Y",
                tlang: "en_US",
                isWide: "0",
                upl: 1,
                hb: "1",
                pts: 0,
                nextUrl: "javascript:parent.closeStudio2()"
            };
            function showImporter() {
                showOverlayOnElement("#studiodiv", $("#import_popup_container"));
            }
            function retrievePreviewPlayerData() {
                return previewerMovieXML;
            }
            function initPreviewPlayer(dataXmlStr, startFrame) {
                console.log(flashvars);
                previewerMovieXML = dataXmlStr;
                if (typeof startFrame == 'undefined') {
                    startFrame = 1;
                } else {
                    startFrame = Math.max(1, parseInt(startFrame));
                }
                jQuery("#playerdiv").flash({
                    id: "Player",
                    swf: "https://file.garden/ZP0Nfnn29AiCnZv5/player_old.swf",
                    width: "640",
                    height: "360",
                    allowFullScreen: true,
                    allowScriptAccess: "always",
                    flashvars: {
                        apiserver: window.location.origin + "/",
                        staticserver: "https://wrapperclassic.netlify.app/",
                        isEmbed: 1,
                        tlang: "en_US",
                        isInitFromExternal: 1,
                        startFrame,
                        isPreview: 1,
                        movieId: flashvars.presaveId,
                        autostart: 1,
                        storePath: "https://wrapperclassic.netlify.app/static/store/<store>",
                        clientThemePath: "https://file.garden/ZP0Nfnn29AiCnZv5/477/<client_theme>",
                    }
                });
                showOverlayOnElement("#studiodiv", jQuery("#previewPlayerContainer"));
            }
            if ((new URLSearchParams(window.location.search)).get("lvm") && (new URLSearchParams(window.location.search)).get("tId")) {
                $("#studioLoading").modal({
                    keyboard: false,
                    backdrop: "static"
                })
                tId = (new URLSearchParams(window.location.search)).get("tId");
                studio = (new URLSearchParams(window.location.search)).get("lvm");
                loadingStudio = true;
            }
            function checkStudioLoadingStatus() {
                if (loadingStudio && studio == (new URLSearchParams(window.location.search)).get("lvm") && tId == (new URLSearchParams(window.location.search)).get("tId")) {
                    $("#studioLoading").modal('hide');
                    newAnimation();
                }
            }
            const interactiveTutorial = {
                hideTutorial: true,
                neverDisplay() {
                    return this.hideTutorial;
                }
            }
            function selectLVM() {
                studio = $("#customlvmyear").val();
                $("#error-message-lvmSelector").text('');
                tutCharOption(studio);
                if (studio == '2010') {
                    $(".widescreen").hide();
                    $("#ct2010").show();
                    $("#ct2011").hide();
                    $("#ct2012").hide();
                } else if (studio == '2011') {
                    $(".widescreen").show();
                    $("#ct2010").hide();
                    $("#ct2011").show();
                    $("#ct2012").hide();
                } else if (studio == '2012' || studio == '2013') {
                    $(".widescreen").show();
                    $("#ct2010").hide();
                    $("#ct2011").hide();
                    $("#ct2012").show();
                } else {
                    $(".widescreen").show();
                    $("#ct2010").hide();
                    $("#ct2011").hide();
                    $("#ct2012").hide();
                }
            }
            function lvmSelectorError(msg) {
                $("#customLVM").unblock()
                $("#error-message-lvmSelector").text(msg);
            }
            function newAnimation(json) {
                if (studio == '2010' && json.tutorial && !($('#devs_selector').val() || tmcId) && hasChars) lvmSelectorError('Please select a character to use in the 2010 LVM tutorial');
                else if (json.lvmmode == "block") jQuery.post('/api/getNewMovieId', d => {
                    if (studio == "2010" && window.location.host.startsWith("localhost") && tId != "retro") {
                        const themeInfo = themes.find(i => i.id == tId);
                        lvmSelectorError(`due to the crossdomain.xml file not being fetched correctly while using localhost, ${
                            themeInfo.name
                        } does not want to work in the 2010 LVM while you use localhost. Please try using GoNexus online for better results.`);
                        return;
                    }
                    interactiveTutorial.hideTutorial = json.tutorial ? false : true;
                    window.onbeforeunload = function(e) {
                        var e = e || window.event;
                        if (e) e.returnValue = 'You are about to lose all your unsaved changes in the studio.';
                    };
                    const attrs = {
                        data: `https://wrapperclassic.netlify.app/animation/${$("#customlvmyear").val()}/${json.customlvmfile}`,
                        width: "100%",
                        height: "100%",
                        type: "application/x-shockwave-flash"
                    };
                    const swf = parseInt(studio) >= 2013 ? `/api/serveLVMViaURL?i=https://wrapperclassic.netlify.app/animation/${
                        $("#customlvmyear").val()
                    }/${json.customlvmfile}` : `https://wrapperclassic.netlify.app/animation/${$("#customlvmyear").val()}/${json.customlvmfile}`;
                    const storePath = parseInt(studio) >= 2013 ? `/static/2011/store/<store>` : `https://wrapperclassic.netlify.app/static/store/<store>`;
                    const clientThemePath = parseInt(studio) >= 2013 ? `/static/2012/477/<client_theme>?themeColor=${json.ct2012 || "go"}` : `https://wrapperclassic.netlify.app/static/tommy/${
                        $("#customlvmyear").val()
                    }/<client_theme>`;
                    flashvars.studio = studio;
                    flashvars.userId = userData.uid || userData.id;
                    flashvars.presaveId = d;
                    flashvars.ctc = json.ct2010;
                    flashvars.tm = json.tutorial ? "NEW" : "FIN";
                    if (json.tutorial && studio == "2010") flashvars.tmcc = $('#devs_selector').val() || tmcId;
                    if (studio != '2010') jQuery("#studiodiv").flash({
                        id: "Studio",
                        swf,
                        width: "960",
                        height: "630",
                        align: "middle",
                        allowScriptAccess: "always",
                        allowFullScreen: "true",
                        wmode: "window",
                        hasVersion: "10.3",
                        flashvars: {
                            apiserver: "/",
                            storePath,
                            isEmbed: 1,
                            ctc: studio == "2010" ? json.ct2010 : "go",
                            ut: parseInt(studio) <= 2012 ? 60 : 23,
                            tm: json.tutorial ? "NEW" : "FIN",
                            appCode: "go",
                            tray: tId,
                            siteId: "go",
                            lid: 13,
                            isLogin: "Y",
                            retut: 1,
                            clientThemePath,
                            tlang: "en_US",
                            studio,
                            userId: flashvars.userId,
                            isWide: json.widescreen ? 1 : 0,
                            collab: 0,
                            nextUrl: "/api/redirect",
                            themeColor: studio == "2013" ? json.ct2012 : "go",
                            presaveId: d
                        }
                    });
                    else {
                        const yesorno = window.location.host.startsWith("localhost") ? confirm("For whatever reason, when localhost is being used to fetch the crossdomain.xml file on the 2010 LVM, it tries to get it using localhost90 which is a host that does not exist on all WI-FI networks. Because of this bug, we had no choice but to set the isOffline flashvar to 1 on the 2010 LVM which will cause some features to not work properly in the 2010 LVM like saving your movie, getting user assets, and etc. After you press OK, you are agreeing with the statements that are mentioned above and the reason for all of this is because of the reason stated in the first sentence above and due to that very bug not being fixable no matter how many times one of our developers tried removing the bug. are you sure that you want to proceed to the 2010 LVM?") : true;
                        if (yesorno) {
                            if (studio == '2010' && jQuery.flash.available && yesorno) {
                                const params = flashvars;
                                jQuery("#studiodiv").html('<div class="w3-border"><div class="w3-green" style="height:24px;width:0%"></div></div>');
                                jQuery.post('/api/getNewMovieId', d => {
                                    flashvars.presaveId = d;
                                    flashvars.tray = tId;
                                    jQuery("#studiodiv").html('<div class="w3-border"><div class="w3-green" style="height:24px;width:25%"></div></div>');
                                    jQuery.post("/api/sendParamInfo2Server?apiHost=wrapperclassic.netlify.app&type=attrs&protocall=https&method=POST&apiPath=/.netlify/functions/api", attrs, () => {
                                        jQuery("#studiodiv").html('<div class="w3-border"><div class="w3-green" style="height:24px;width:50%"></div></div>');
                                        jQuery.post("/api/sendParamInfo2Server?apiHost=wrapperclassic.netlify.app&type=params&protocall=https&method=POST&apiPath=/.netlify/functions/api", params, () => {
                                            jQuery("#studiodiv").html('<div class="w3-border"><div class="w3-green" style="height:24px;width:100%"></div></div>');
                                            jQuery.post('/api/lvmVarsStatus?apiHost=wrapperclassic.netlify.app&protocall=https&method=POST&apiPath=/.netlify/functions/api', d => {
                                                if (d.isThere) jQuery("#studiodiv").html(`<embed height="630" width="960" src="https://wrapperclassic.netlify.app/lvmEmbed.html"></embed>`)
                                                else jQuery("#studiodiv").html('<center>Some data was not sent in successfully to wrapper: classic. Please relaunch the 2010 Video Maker.</center>');
                                            });
                                        });
                                    })
                                })
                            }
                        } else return;
                    }
                    $("#customLVM").unblock().modal('hide');
                    $("#studioBlock").modal({
                        keyboard: false,
                        backdrop: "static"
                    });
                }); 
                else location.href = `/go_full?y=${studio}&isWide=${json.widescreen == "on" ? '1' : '0'}&tutorial=${json.tutorial == "on" ? true : false}&tray=${tId}`
                if (studio == "2010") {
                    if (!window.location.host.startsWith("localhost")) $("#closeStudio").on("click", () => {
                        if (closeStudio()) $("#closeStudio").off("click");
                    });
                    else {
                        window.onbeforeunload = function(e) {
                            return null;
                        };
                        $("#closeStudio").on("click", () => {
                            closeStudio2();
                            $("#closeStudio").off("click");
                        });
                    }
                } else $("#closeStudio").on("click", () => {
                    if (closeStudio()) $("#closeStudio").off("click");
                });
            }
            function closeStudio(l) {
                const yesorno = confirm(`Before you leave the ${l || studio} LVM, please save any changes that you made to your video.`);
                if (!yesorno) {
                    switch (l || studio) {
                        case "2010":
                        case "custom": {
                            jQuery.post("/api/deleteParamInfo", new URLSearchParams({
                                apiHost: 'wrapperclassic.netlify.app',
                                types: 'attrs_params',
                                protocall: 'https',
                                method: 'POST',
                                apiPath: '/.netlify/functions/api'
                            }).toString());
                            break;
                        }
                    }
                    $("#studioBlock").modal('hide');
                    window.onbeforeunload = function(e) {
                        return null;
                    };
                    return true;
                } else return false;
            }
            function closeStudio2(l) {
                switch (l || studio) {
                    case "2010":
                    case "custom": {
                        jQuery.post("/api/deleteParamInfo", new URLSearchParams({
                            apiHost: 'wrapperclassic.netlify.app',
                            types: 'attrs_params',
                            protocall: 'https',
                            method: 'POST',
                            apiPath: '/.netlify/functions/api'
                        }).toString());
                        break;
                    }
                }
                $("#studioBlock").modal('hide');
                window.onbeforeunload = function(e) {
                    return null;
                };
            }
            jQuery.getJSON("/api/themes/get", (d) => {
                let count = 0;
                for (const theme of d) {
                    themes.push(theme.attr);
                    if (count < 3) $("[data-row-1]").append(`<div class="col-sm-6 col-md-4 col-lg-4"><div class="theme" id="thm-${theme.attr.id}"><div class="theme-cell"><div class="theme-cover launch">
                        <img src="https://raw.githubusercontent.com/Wrapper-Offline/Wrapper-Offline/main/server/pages/img/themes/${theme.attr.id}.jpg" alt="${theme.attr.name}">
                    </div><div class="theme-meat"><div class="apps"><h3>${theme.attr.name}</h3>
                         <a class="btn btn-orange" href="/go_full?tray=${theme.attr.id}" title="" data-original-title="LVM">Make A Video</a>
                         <a class="btn btn-default" title="" data-original-title="Custom LVM" data-toggle="modal" data-target="#customLVM" onclick="tId = '${theme.attr.id}'">Custom LVM</a>                         
                         ${theme.attr.cc_theme_id ? `<a class="btn btn-default" href="/cc_browser?themeId=${theme.attr.cc_theme_id}" title="" data-original-title="Character Creator"><i class="i-cc"></i></a>` : ''}
                         ${theme.attr.id == "custom" ? `<a class="btn btn-default" href="/quickvideo?filename=everydaylife" title="" data-original-title="QVM Template"><i class="i-qvm"></i></a>` : theme.attr.id == "action" ? `<a class="btn btn-default" href="/quickvideo?filename=basketball" title="" data-original-title="QVM Template"><i class="i-qvm"></i></a>` : ''}
                    </div>
                    </div></div></div></div>`);
                    else if (count < 6) $("[data-row-2]").append(`<div class="col-sm-6 col-md-4 col-lg-4"><div class="theme" id="thm-${theme.attr.id}"><div class="theme-cell"><div class="theme-cover launch">
                        <img src="https://raw.githubusercontent.com/Wrapper-Offline/Wrapper-Offline/main/server/pages/img/themes/${theme.attr.id}.jpg" alt="${theme.attr.name}">
                    </div><div class="theme-meat"><div class="apps"><h3>${theme.attr.name}</h3>
                        <a class="btn btn-orange" href="/go_full?tray=${theme.attr.id}" title="" data-original-title="LVM">Make A Video</a>  
                        <a class="btn btn-default" title="" data-original-title="Custom LVM" data-toggle="modal" data-target="#customLVM" onclick="tId = '${theme.attr.id}'">Custom LVM</a>                      
                        ${theme.attr.cc_theme_id ? `<a class="btn btn-default" href="/cc_browser?themeId=${theme.attr.cc_theme_id}" title="" data-original-title="Character Creator"><i class="i-cc"></i></a>` : ''}
                        ${theme.attr.id == "custom" ? `<a class="btn btn-default" href="/quickvideo?filename=everydaylife" title="" data-original-title="QVM Template"><i class="i-qvm"></i></a>` : theme.attr.id == "action" ? `<a class="btn btn-default" href="/quickvideo?filename=basketball" title="" data-original-title="QVM Template"><i class="i-qvm"></i></a>` : ''}
                    </div></div></div></div></div>`);
                    count++
                }
            });
            function tutCharOption(s) {
                if (s == "2010") {
                    $("#lvmmode").hide();
                    if (!window.location.host.startsWith("localhost")) {
                        $("input[name='tutorial']").prop("checked") ? $(".tutorialchar2010").show() : $(".tutorialchar2010").hide()
                        const devs = [
                            {
                                name: "Works Perfectly",
                                people: [
                                    {
                                        name: "Joseph",
                                        id: "4048901"
                                    },
                                    {
                                        name: "Rage (Side Dev)",
                                        id: "0000000"
                                    },
                                    {
                                        name: "Owen",
                                        id: "4635901"
                                    },
                                    {
                                        name: "2010 LVM Tutorial Woman (Not a dev but added her to bring back nostalgia)",
                                        id: "4715202"
                                    },
                                    {
                                         name: "David Escobar (Not a dev but added him cuz why not)",
                                         id: "192"
                                    },
                                    {
                                         name: "Daniel (Not a dev but added him cuz why not)",
                                         id: "666"
                                    }
                                ]
                            },
                            {
                                name: "Does Not Work",
                                people: [
                                    {
                                        name: "BluePeacocks",
                                        id: "60897073"
                                    },{
                                        name: "Jerry",
                                        disabled: true,
                                        id: ""
                                    }
                                ]
                            },
                            {
                                name: "Work In Progress",
                                people: [
                                    {
                                        name: "Jyvee",
                                        id: "66670973"
                                    }
                                ]
                            }
                        ]
                        for (const d of chars) {
                            hasChars = true;
                            break;
                        }
                        if (!hasChars) $("#tutorial-chars").html(`<p id="grid-item">You have not created any characters yet. but that's okay, you can use the GoNexus developers as your character instead.</p><br><label for="devs_selector">GoNexus Developers <select id="devs_selector">${devs.filter(i => !i.disabled).map(oi => {
                            if (oi.people) return `<optgroup label="${oi.name}">${oi.people.filter(i => !i.disabled).map(v => `<option value="${v.id}">${v.name}</option>`)}</optgroup>`;
                            else return `<option value="${oi.id}">${oi.name}</option>`;
                        })}</select></label>`);
                        tmcId = $('#devs_selector').val() || "4048901";
                    } else $(".tutorial").hide();
                } else {
                    $("#lvmmode").show();
                    $(".tutorialchar2010").hide()
                    $(".tutorial").show();
                }
            }
            function reloadCCListForTut() {
                jQuery.ajax({
                    url: '/api/getChars',
                    type: 'POST',
                    data: { 
                        cc_theme_id: 'family', 
                        tags: '',
                        userId: userData.uid || userData.id
                    },
                    dataType: 'json',
                    success: function(data) {
                        console.log(data);
                        for (const cc of data) {
                            $("#tutorial-chars").append(`<a href="javascript:;" id="char${cc.id}" onclick="selectTutChar('${cc.id}')" class="tutorial-char"><img src="${cc.head_url}"><h2>${
                                cc.title
                            }</h2></a>`);
                            chars.push(cc);
                        }
                    }
                });
            }
            function selectTutChar(cId) {
                tmcId = cId;
                $(".tutorial-char-active").addClass("tutorial-char").removeClass("tutorial-char-active");
                $(`#char${cId}`).addClass("tutorial-char-active").removeClass("tutorial-char");
            }
        </script>
        <%- include("includes/footer.ejs") %>
    </body>
</html>
