<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.101.0">
        <title>Account Dashboard - GoNexus</title>
        <link rel="stylesheet" href="/ui/css/common_combined.css">
        <style>
            .bold {
                font-weight: bold;
            }
            #feed_none {
                display: none;
            }
            div.feed {
                background-color: rgb(255, 255, 255);
                width: 1000px;
                height: 100px;
            }
            div.feed:hover {
                background-color: lightgrey;
                width: 1000px;
                height: 100px;
            }
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                src: local('Lato Regular'), local('Lato-Regular'), url(/ui/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
            }
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                src: local('Lato Bold'), local('Lato-Bold'), url(/ui/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
            }
        </style>
        <script type="text/javascript">
            var srv_tz_os = -4, view_name = "go", user_cookie_name = "u_info";
        </script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-app.js"></script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-auth.js"></script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/init.js"></script>
        <script src="/js/user.js"></script>
        <script src="/js/common_combined.js"></script>
        <script src="/lvm_files/go/js/jquery/jquery.swfobject.min.js"></script>
        <script src="/lvm_files/go/js/jquery/jquery.blockUI-2.66.0.js"></script>
        <script src="/lvm_files/go/js/jquery/jquery.scrollTo.min.js"></script>
        <script src="/lvm_files/go/js/Gettext.js"></script>
        <script type="text/javascript" src="/lvm_files/go/po/goserver_js-en_US.json"></script>
        <script type="text/javascript">
            var I18N_LANG = 'en_US';
            var GT = new Gettext({'locale_data': json_locale_data});
        </script>
    </head>
    <body class="en_US">
        <script type="text/javascript">
            if (self !== top) jQuery('body').hide();
        </script>
        <div class="page-container">
            <!-- HEADER -->
            <%- include("includes/header.ejs", {
                isVideoList: true
            }); %>
            <!-- END OF HEADER -->
            <div class="container">
                <div class="row">
                    <h2>Dashboard</h2>
                    <div class="alert alert-info" id="GoNexus_intro" role="alert">
                        <h3>Welcome To GoNexus!</h3>
                        <p>Please view our interactive Getting Started guide to learn how to use GoNexus.</p><br>
                        <a class="btn btn-orange" href="/getting_started">Getting Started Guide</a>
                    </div>
                    <h3>Activity Feed</h3>
                    <hr>
                    <div id="activity_feed"></div>
                    <div id="ft_feeds" style="display: none;">
                        <h3>Recent Activity On FlashThemes</h3>
                        <hr>
                        <div id="feeds"></div>
                        <a href="javascript:;" id="loadFTUserFeeds"></a>
                        <progress id="loadFTUserFeeds_loading" style="display: none;"></progress><br>
                        <a href="javascript:;" id="loadFTUserFeeds_all"></a>
                        <progress id="loadFTUserFeeds_loading_all" style="display: none;"></progress><br>
                    </div>
                    <div id="student-stuff" style="display: none;">
                        <div class="col-md-4" style="float: right; margin: 50px; width: 390px;">
                            <form class="panel panel-default" id="groupJoinForm">
                                <div class="panel-body">
                                    <h3 class="panel-title bold">Join a Group</h3>
                                </div>
                                <center class="panel-heading" style="background-color: #FFFFFF">
                                    Enter the code for the group you want to join<br><br>
                                    <input type="text" name="groupCode"/>
                                    <input type="submit" class="btn btn-default" value="Join Group"/>
                                </center>
                            </form>
                        </div>
                    </div>
                    <div id="teacher-stuff" style="display: none;">
                        <div class="col-md-4" style="float: right; margin: 50px; width: 390px;">
                            <form class="panel panel-default" id="groupCodeForm">
                                <div class="panel-body">
                                    <div style="float: left;" class="panel-title">Your Groups</div>
                                    <a style="float: right;" href="javascript:;" data-target="#manage_groups" data-toggle="modal">See All</a>
                                </div>
                                <center class="panel-heading">
                                    Select a group from it's dropdown menu to view it's invitation code. 
                                    Students can use this code to join the group.<br><br>
                                    <select name="groupId" class="form-control" id="group-select-limited" data-number="7" onchange="groupCodeReveal()">
                                        <option value="">Everyone</option>
                                    </select><br>
                                    Group Code <input type="text" id="group-code" value="No group code detected" readonly/>
                                </center>
                            </form>
                        </div>
                    </div>
                    <div id="personal-stuff" style="display: none;">
                    </div>
                    <div id="flashthemes-stuff" style="display: none;">
                        <div class="col-md-4" style="float: right; margin: 50px; width: 390px;">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3 class="panel-title bold">Latest Followers (
                                        <span id="ft-follower-count"></span>
                                    )</h3>
                                </div>
                                <center class="panel-heading" style="background-color: #FFFFFF">
                                    Enter the code for the group you want to join<br><br>
                                    <input type="text" name="groupCode"/>
                                    <input type="submit" class="btn btn-default" value="Join Group"/>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->
            <%- include("includes/footer.ejs") %>
            <div id="studio_container" style="display: none;">
                <div id="studio_holder"><!-- Full Screen Studio -->
                    <div style="top: 50%; position: relative;">
                        This content requires the Adobe Flash Player 10.3. <a href="https://get.adobe.com/flashplayer/">Get Flash</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function groupCodeReveal() {
                $("#group-code").val("Loading...");
            }
            $("#groupJoinForm").submit(() => {
                jQuery.blockUI();
                $.post(`/api/group/join?${
                    $("#groupJoinForm").serialize()
                }`, JSON.parse(JSON.stringify(userData)), (data) => {
                    jQuery.unblockUI();
                    displayFeedback(data);
                    getSchoolInfo();
                });
               return false;
           })
            var count2 = 0;
            $("#loadFTUserFeeds").click(() => {
                $("#loadFTUserFeeds_all").hide();
                $("#loadFTUserFeeds").hide();
                $("#loadFTUserFeeds_loading").show();
                loadFTUserFeeds();
            });
            function loadFTUserFeeds() {
                jQuery.post(`/api/getFTUserFeeds?page=${count2}`, html => {
                    count2++;
                    if (html.includes('0{"next_page":"1"}')) {
                        jQuery("#feeds").append(html.split('0{"next_page":"1"}')[1]);
                        $("#loadFTUserFeeds_loading").hide();
                        jQuery("#loadFTUserFeeds").html('load more').show();
                        jQuery("#loadFTUserFeeds_all").html('load all of the flashthemes user feed').show();
                    } else if (html.includes('0{"next_page":"0"}')) {
                        if (!html.includes('There are no activities')) jQuery("#feeds").append(html.split('0{"next_page":"1"}')[1]);
                        jQuery("#loadFTUserFeeds").hide();
                        jQuery("#loadFTUserFeeds_all").hide();
                    }
                })
            }
            $("#loadFTUserFeeds_all").click(() => {
                jQuery("#loadFTUserFeeds").hide();
                $("#loadFTUserFeeds_all").hide();
                $("#loadFTUserFeeds_loading_all").show();
                jQuery.post(`/api/getAllFTUserFeeds?page=${count2}`, html => {
                    jQuery("#feeds").append(html.split("There are no activities").join(""));
                    $("#loadFTUserFeeds_loading_all").hide();
                    jQuery("#loadFTUserFeeds_all").hide();
                })
            });
        </script>
    </body>
</html>