
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="dns-prefetch" href="//web.archive.org/web/20160913102301/https://d2qrjeyl4jwu9j.cloudfront.net/">

<title>Become A Developer Or Beta Tester - GoNexus</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="GoAnimate for Schools is a safe environment for students to fully express their creativity through video and a great place for educators to share educational videos with other educators worldwide.">

<meta property="og:site_name" content="GoAnimate for Schools">
<meta property="fb:app_id" content="122508887813978">
<meta name="google-site-verification" content="Vta3YTpj6Kx6u4p-EzeMArY0alNItkyUYYMvNM8seVI"/>

<style>
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(/ui/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: local('Lato Bold'), local('Lato-Bold'), url(/ui/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
    }
</style>
<link rel="stylesheet" href="/ui/css/common_combined.css">

<link rel="stylesheet" href="/lvm_files/school/css/public/order.css.gz.css">

<script>
var srv_tz_os = -4, view_name = "school", user_cookie_name = "u_info_school";
var user_country = "US";
</script>

<!--[if lt IE 9]>
<script src="https://d2qrjeyl4jwu9j.cloudfront.net/static/c5bab4fb87fee33e/go/js/lib/html5shiv.js"></script>
<![endif]-->
<script src="/js/common_combined.js"></script>
<script type="text/javascript" src="/static/tommy/2012/go/po/goserver_js-en_US.js"></script>
<script type="text/javascript">
var I18N_LANG = 'en_US';
var GT = new Gettext({'locale_data': json_locale_data});
</script>




</head>
<body class="page-action-public_signup">
<script type="text/javascript">
if (self !== top) jQuery('body').hide();
</script>

<nav class="navbar site-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" href="/" title="GoNexus">
                <img alt="GoNexus" src="/ui/img/logo_better.png">
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">GoNexus Developer/Beta Tester Form</li>
    </ol>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <form class="form-horizontal" id="formApplication" action="javascript:;">
                <div class="payment-form-section">
                    <div id="application-header">
                        <h3>Become A GoNexus Developer Or Beta Tester</h3>
                        <p>
                            This form will allow you to submit a developer or beta tester application to our team over at GoNexus. 
                            we will review your application to ensure that you are being honest about the stuff you put in.
                        </p>
                    </div>
                    <div id="user-info">
                        <hr>
                        <h4>User Infomation</h4>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Your Name <br><small>
                                <a data-topic="personNameRequirement" class="formSupportModalBtn" href="javascript:;">Why we need this</a>
                            </small></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="user_name" value="" maxlength="50" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Discord Username <br><small>
                                <a data-topic="discordUsernameRequirement" class="formSupportModalBtn" href="javascript:;">Why we need this</a>
                            </small></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="user_discordUsername" value="" maxlength="50" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Date Of Birth <br><small>
                                <a data-topic="dobRequirement" class="formSupportModalBtn" href="javascript:;">Why we need this</a>
                            </small></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="user_dob" placeholder="01/01/1970" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Country <br><small>
                                <a data-topic="countryRequirement" class="formSupportModalBtn" href="javascript:;">Why we need this</a>
                            </small></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="user_country" id="countries" required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Do you know how to use DevTools in your browser? <br><small>
                                <a data-topic="devToolsUsageRequirement" class="formSupportModalBtn" href="javascript:;">Why we need this</a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="user_devToolsUsage" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                Do you have a web browser on your computer that still supports Adobe Flash Player? 
                                <br><small>
                                <a data-topic="browserw/FlashRequirement" class="formSupportModalBtn" href="javascript:;">Why we need this</a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control tester_required-form" name="user_browser_has_flash" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Role <br><small>
                                <a data-topic="roleRequirement" class="formSupportModalBtn" href="javascript:;">Why we need this</a>
                            </small></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="user_role" onchange="infoShow(this)" required>
                                    <option value="">Please select your role</option>
                                    <option value="tester">Beta Tester</option>
                                    <option value="developer">Developer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="tester-info" style="display: none;">
                        <hr>
                        <h4>Beta Tester Form</h4>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                Do you know how beta testing a website works?<br><small>
                                <a data-topic="betaTesterKnowledgeRequirement" class="formSupportModalBtn" href="javascript:;">
                                    Why we need this
                                </a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control tester_required-form" name="tester_experience"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                Have you tested any websites before?<br><small>
                                <a data-topic="betaTesterExperienceRequirement" class="formSupportModalBtn" href="javascript:;">
                                    Why we need this
                                </a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control tester_required-form" name="tester_experience"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">How do you plan on testing GoNexus?<br><small>
                                <a data-topic="betaTesterPlanRequirement" class="formSupportModalBtn" href="javascript:;">Why we need this</a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control tester_required-form" name="tester_plan"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Do you have any questions about the beta tester form?</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="tester_formQuestions"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="developer-info" style="display: none;">
                        <hr>
                        <h4>Developer Form</h4>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                Do you know how a server computer works?<br><small>
                                <a data-topic="developerServerComputerKnowledgeRequirement" class="formSupportModalBtn" href="javascript:;">
                                    Why we need this
                                </a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control developer_required-form" name="developer_serverComputerKnowledge"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                Do you know how computer coding works?<br><small>
                                <a data-topic="developerCodingKnowledgeRequirement" class="formSupportModalBtn" href="javascript:;">
                                    Why we need this
                                </a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control developer_required-form" name="developer_codingKnowledge"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Do you know any coding languages?<br><small>
                                <a data-topic="developerCodingLanguageKnowledgeRequirement" class="formSupportModalBtn" href="javascript:;">
                                    Why we need this
                                </a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control developer_required-form" name="developer_codingLanguageKnowledge"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                Are you able to help us code the frontend or backend side of GoNexus?
                            <br><small>
                                <a data-topic="developerBackendOrFrontendHelpRequirement" class="formSupportModalBtn" href="javascript:;">
                                    Why we need this
                                </a>
                            </small></label>
                            <div class="col-sm-6">
                                <select class="form-control developer_required-form" name="developer_coderType">
                                    <option value="">Please tell us what part of GoNexus you are planning on helping us out with</option>
                                    <option value="backend">Backend (Server side of the project)</option>
                                    <option value="frontend">Frontend (Webpage side of the project)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                Do you know how localhost works? If so, please tell us your knowledge
                                <br><small>
                                <a data-topic="developerLocalhostKnowledgeRequirement" class="formSupportModalBtn" href="javascript:;">
                                    Why we need this
                                </a>
                            </small></label>
                            <div class="col-sm-6">
                                <textarea class="form-control developer_required-form" name="developer_localhostKnowledge"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Do you have any questions about the developer form?</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="developer_formQuestions"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="payment-form-section-footer">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <p>
                                    After pressing the button below, 
                                    your form will be submited to our staff on the GoNexus Discord Server for review.
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-orange btn-lg" type="submit">Submit Application &gt;</button>
                    </div>
                </div>

            </form>
            <br><br>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="case-studies"><!--
                <div class="case">
                    <div class="case-quote">
                        <p>I have created around 2 templates for wrapper classic in the past but one of them was a rushed theme who's name was <a href="/quickvideo?theme=michigan">Michigan</a>. But thanks to this tool, i won't need to modify a qvm html just to make templates ever again and all i need from this is my CSS knowledge. this is going to be the best tool for Nexus in a production state so that users will have the best chance to create their own templates without winning in a contest or sending a request to anyone just to have their template sent out to production. the best part is, i can preview my template before it's available for production. Thanks joseph for working on Nexus on your own for a pretty long time and having the idea to make this tool. you are the best!</p>
                        <div class="case-customer">
                            - <span class="name"><a href="/public_user/wD87hhngLkhZNvtwraYOUEYeWUl2" target="_blank">Itinerary Jyvee</a></span>,<br>No longer a GoNexus Developer
                        </div>
                    </div>
                </div>
                <div class="case">
                    <div class="case-quote">
                        <p>The Common Core State Standards asks students to write arguments and to present their findings. GoAnimate allows students an engaging way to present their findings to the class using technology. Pairing the use of technology and writing in an assignment allows students to be better prepared for both college and career.</p>
                        <div class="case-customer">
                            - <span class="name"><a href="https://web.archive.org/web/20160913102301/http://blog.goanimate4schools.com/9th-graders-argue-that-goanimate-rocks-in-little-rock-ak/" target="_blank">Suzanne Rogers</a></span>,<br>M.Ed, High School Educator
                        </div>
                    </div>
                </div>
                <div class="case">
                    <div class="case-quote">
                        <p>The site’s innovative digital storytelling techniques making animation a breeze and tons of fun – and I look forward to using it more in the years to come.</p>
                        <div class="case-customer">
                            - <span class="name"><a href="https://web.archive.org/web/20160913102301/http://blog.goanimate4schools.com/the-road-to-respect-paved-by-goanimate-for-schools/" target="_blank">James Gorcesky</a></span>,<br>7th &amp; 8th grade Art and Technology Teacher
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<div class="modal" id="formApplicationSubmiting">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Submitting Application</h3>
            </div>
            <div class="modal-body">
                <br>
                <p class="text-center h4">Your application is being submited to our GoNexus staff. please wait...</p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="formSupportModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">Application Help</h3>
            </div>
            <div class="modal-body" id="applicationHelpInfo"></div>
        </div>
    </div>
</div>
<%- include("includes/footer.ejs") %>

</body>
<script>
    // reveals form sections based off of the role a user selected
    let info;
    function infoShow(obj) {
        if (info != "") $(`#${info}-info`).hide();
        info = $(obj).val();
        if (info != "") $(`#${info}-info`).show();
    }
    const supportStuffByTopic = { // variable for certain stuff the form asks the user.
        personNameRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your name?"
            },
            p: {
                attr: {},
                text: `By giving out your name, 
                you will be helping our staff identify who you are so that we can call you by the name you give us 
                once we tell you whatever or not your application has been accepted or denied.`
            }
        },
        discordUsernameRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your discord username?"
            },
            p: {
                attr: {},
                text: `In order for our staff to review your application and get back to you, we use discord to review your response. 
                This makes it so that we can search for your discord username and send you a dm reminding you on whatever or not 
                your application has been accepted or denied.`
            },
            div: {
                attr: {
                    class: "alert alert-info",
                    role: "alert"
                },
                text: `For some reason, in order to DM someone on discord, you have to first send someone a friend request.
                Anyway, after we verify your application, you may most likely get a friend request from one of our staff members. 
                but don't worry though, 
                you can always delete the request as you really don't need to send a friend request to someone on discord just to dm them.`
            },
            center: {
                attr: {
                    class: "alert alert-danger",
                    role: "alert"
                },
                text: `if for some reason we can't send you a dm without the need to send you a friend request, 
                your application will be denied.`
            }
        },
        dobRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your Date Of Birth?"
            },
            p: {
                attr: {},
                text: `In order for our staff to verify that 
                you are above or within the age you should be on the internet depending on your country,
                we need to use your Date Of Birth to calculate whatever or not you are withn or above the age to use the internet 
                depending on your country. Sometimes, we may use your Date Of Birth to wish you a happy birthday in the GoNexus Group Chat.`
            }
        },
        countryRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your Country?"
            },
            p: {
                attr: {},
                text: `To help with age verification, 
                we ask that you select your country because once you select your country, 
                we will be using that infomation to ensure that you are old enough to be on the internet.`
            },
            div: {
                attr: {
                    class: "alert alert-danger",
                    role: "alert"
                },
                text: `If you are not old enough to be on the internet depending on what country you selected, your application will be denied.`
            }
        },
        roleRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your role?"
            },
            p: {
                attr: {},
                text: `This will help us know how you are planning to help out with the development of the GoNexus LVM Project.`
            }
        },
        betaTesterKnowledgeRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your beta tester knowledge?"
            },
            p: {
                attr: {},
                text: `This will make sure that you have some knowledge of how beta testing a website works`
            },
            div: {
                attr: {
                    class: "alert alert-success",
                    role: "alert"
                },
                text: `If you don't have any beta testing knowledge, that's understandable. 
                we won't reject your application all because of that. 
                We will go over the process of beta testing a website with you through a discord dm.`
            }
        },
        betaTesterExperienceRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your experience with beta testing websites?"
            },
            p: {
                attr: {},
                text: `This will ensure to us that you've had experience with beta testing websites in the past.`
            },
            div: {
                attr: {
                    class: "alert alert-success",
                    role: "alert"
                },
                text: `If you don't have any experience, that's understandable. we won't reject your application all because of that.`
            }
        },
        betaTesterPlanRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your plan with beta testing GoNexus?"
            },
            p: {
                attr: {},
                text: `This will help us know the way you plan on beta testing GoNexus`
            },
            div: {
                attr: {
                    class: "alert alert-info",
                    role: "alert"
                },
                text: `If this is your first time beta testing a website, that's understandable. 
                you can say no and answer that question in a 
                discord DM later with one of our staff after you are taught about how beta testing a website works.`
            }
        },
        devToolsUsageRequirement: {
            h4: {
                attr: {},
                text: "Why do we need your knowledge of DevTools"
            },
            p: {
                attr: {},
                text: `As part of having your role in GoNexus, 
                you may have to use DevTools to make sure that everything is running the way they should in GoNexus.`
            },
            div: {
                attr: {
                    class: "alert alert-info",
                    role: "alert"
                },
                text: `If you don't know how to use DevTools, that's understandable.
                Our staff will teach you how to use DevTools for not just GoNexus, 
                but for other cases like if you need to inspect the way a website is running to make sure that it's running the way it should.`
            }
        },
        "browserw/FlashRequirement": {
            h4: {
                attr: {},
                text: "Why do we need to know if you have a web browser that still supports Adobe Flash Player?"
            },
            p: {
                attr: {},
                text: `Because The Character Creator/Browser, Video Player, and Studio all use this old technology called Adobe Flash Player.
                Because of this technology, 
                we require that you install a 
                compataible web browser that still supports that if you want to be able to test/develop GoNexus properly.`
            },
            div: {
                attr: {
                    class: "alert alert-info",
                    role: "alert"
                },
                text: `Don't worry, we are aware of ruffle being a thing. 
                but it is not yet stable for proper GoNexus testing which is why we are applying the same practice just like FlashThemes.`
            },
            center: {
                attr: {
                    class: "alert alert-warning",
                    role: "alert"
                }, 
                text: `If you don't have a compataible web browser that still supports Adobe Flash Player, 
                you may download the <a href="https://www.slimjetbrowser.com/release/archive/20.0.5.0/">
                    Slimjet Browser Version 20.0.5.0
                </a> to resolve your issue. Please be sure that you are downloading a file that is compatiable with your opperating system 
                to ensure that you have no incompatibility issues with the file.`
            }
        }
    }
    // creates a modal window based off of a help link a user presses using the above variable.
    $(".formSupportModalBtn").each((index, elem) => {
        function htmlPlus(json) {
            let html = '';
            for (const i in json) {
                if (json[i] == null) html += `<${i}>`;
                else html += `<${i} ${Object.keys(json[i].attr).map(v => `${v}="${json[i].attr[v]}"`).join(" ")}>${
                    typeof json[i].text == "object" ? htmlPlus(json[i].text) : json[i].text
                }</${i}>`;
            }
            return html;
        }
        $(elem).click(() => {
            const topicJson = supportStuffByTopic[$(elem).data("topic")];
            $("#applicationHelpInfo").html(topicJson ? htmlPlus(topicJson) : '<h4>Sorry, but the topic you requested was not found.</h4>');
            $("#formSupportModal").modal('show');
        });
    });
    // retreieves all of the english world/speaking countries because our staff only knows English
    $.getJSON("https://restcountries.com/v3.1/all", d => {
        $("#countries").html(
            '<option value="">Please select a country</option>' + d.filter(
                i => i.languages?.eng
            ).map(v => `<option value="${v.name.common}">${v.name.official}</option>`).join("")
        )
    })
    // submits the user's form application to the GoNexus Discord Server via the Nexus bot auth token
    $("#formApplication").submit(() => {
        const json = Object.fromEntries(new URLSearchParams($("#formApplication").serialize()));
        $("#formApplicationSubmiting").modal('show');
        $(`.${json.user_role}_required-form`).each((index, elem) => {
            if (!$(elem).val()) json.fieldsMissing = "";
        })
        $.post("/api/formApplication/submit", json).done(d => {
            $("#formApplicationSubmiting").modal('hide');
            displayFeedback(d);
        })
    })
</script>
</html>