<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="dns-prefetch" href="//web.archive.org/web/20160724162053/https://d2qrjeyl4jwu9j.cloudfront.net/">

<title>GoNexus</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="GoNexus is an LVM project that helps improve the errors Wrapper: Offline has right now.">

<meta property="og:site_name" content="GoNexus (Codename: BetterWrapper)">
<meta property="fb:app_id" content="122508887813978">
<meta name="google-site-verification" content="Vta3YTpj6Kx6u4p-EzeMArY0alNItkyUYYMvNM8seVI"/>


<style>
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(/ui/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: local('Lato Bold'), local('Lato-Bold'), url(/ui/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
    }
</style>
<link rel="stylesheet" href="/lvm_files/school/css/common_combined.css">

<link rel="stylesheet" href="/lvm_files/school/css/public/index.css">
<link rel="stylesheet" href="/lvm_files/school/css/owl.carousel.css">
<link rel="stylesheet" href="/lvm_files/school/css/owl.theme.default.css">

<script>
var srv_tz_os = -4, view_name = "school", user_cookie_name = "u_info_school";
var user_country = "US";
</script>

<!--[if lt IE 9]>
<script src="https://d2qrjeyl4jwu9j.cloudfront.net/static/ffa8f9f111b8a856/go/js/lib/html5shiv.js"></script>
<![endif]-->
<script src="/lvm_files/school/js/common_combined.js"></script>
<script type="text/javascript" src="/lvm_files/go/po/goserver_js-en_US.json"></script>
<script type="text/javascript">
var I18N_LANG = 'en_US';
var GT = new Gettext({'locale_data': json_locale_data});
</script>
<script src="/lvm_files/school/js/owl.carousel.min.js"></script>
<script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-app.js"></script>
<script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-auth.js"></script>
<script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/init.js"></script>
<script src="/js/user.js"></script>
</head>
<body class="page-action-public_index">
<script type="text/javascript">
if (self !== top) {
            jQuery('body').hide();
    }
</script>

<%- include("includes/header.ejs", {
    isVideoList: false
}) %>
<div class="homepage-top">
    <div class="container">
        <h1 class="homepage-title">The 2nd Best alternative To FlashThemes</h1>
        <p>Is FlashThemes not working as expected for you? well, with GoNexus, you don't have to worry about most of that happening again. <br>
            You also don't have to worry about site issues happening occasionally because we have this site hosted to stay up 24/7. <br>
            if an error were to happen, then we will fix any bugs that caused any of the issues you have seen occasionally.</p>

        <div class="homepage-top-content">
            <img class="img-responsive center-block" src="/ui/img/img_top_cw.jpg" alt="">
            <a href="#" class="watch-demo" data-toggle="modal" data-target="#demo-video">Watch Demo &gt;</a>
        </div>
    </div>
</div>
<div class="homepage-secure">
    <div class="container">
        <h2 class="homepage-title">Create Videos in a Safe Online Environment</h2>
        <div class="row">
            <div class="col-md-6 col-lg-6 secure-wrapper">
                <div class="clearfix">
                    <div class="icon-block"><img class="icon-block-icon" src="/ui/img/img_secure_01.png" alt=""></div>
                    <h3>Privacy and Security</h3>
                    <p>Each implementation is its own private, secure "walled garden"</p>
                </div>
                <ul class="secure-content">
                    <li>Private videos cannot be accessed by the public <br>(Current bug on FlashThemes where private videos are accessed by the public)</li>
                    <li>When you share a private video to a user, then only that user will be able to access your video and no one else. <br>
                        to prevent privacy invasion, the user who has the link to your video won't be able to share it with anyone else.</li>
                    <li>With the account system using firebase, then you won't have to worry about anyone finding your email and password to your GoNexus Account.</li>
                    <li>When you log in to GoNexus with your FlashThemes account, your password is stored in a hash using Bycrypt so that way no hacker can get your password from the GoNexus database.<br>
                        they will just think that your password is the password hash.</li>
                    <li>If anyone leaks any contact info, we will take that video down as soon as possible!</li>
                    <li>email addresses and contact info are never sent to other web servers. they just stay in the GoNexus database and can be only be accessed by the server</li>
                </ul>
            </div><!--
            <div class="col-md-6 col-lg-6 secure-wrapper">
                <div class="clearfix">
                    <div class="icon-block"><img class="icon-block-icon" src="/ui/img/img_secure_02.png" alt=""></div>
                    <h3>Group Management</h3>
                    <p>Segment your students into classes and workgroups</p>
                </div>
                <ul class="secure-content">
                    <li>Teachers can divide students into classes and/or workgroups</li>
                    <li>Student video distribution is limited to the classes/groups to which they belong</li>
                    <li>Great way to block younger students from seeing the videos of older students</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6 secure-wrapper">
                <div class="clearfix">
                    <div class="icon-block"><img class="icon-block-icon" src="/ui/img/img_secure_03.png" alt=""></div>
                    <h3>Moderation</h3>
                    <p>Stop bad words in their tracks</p>
                </div>
                <ul class="secure-content">
                    <li>Teachers have the option to moderate student videos before the videos become visible to the group</li>
                    <li>Teachers can approve or reject student-created videos and comments</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6 secure-wrapper">
                <div class="clearfix">
                    <div class="icon-block"><img class="icon-block-icon" src="/ui/img/img_secure_04.png" alt=""></div>
                    <h3>Safe Online Content</h3>
                    <p>All assets have been scrubbed to be appropriate for a student audience</p>
                </div>
                <ul class="secure-content">
                    <li>We have ensured that all characters, backgrounds, props, etc. are appropriate for a K-12 audience</li>
                    <li>You won't find "assets" like weapons, alcohol, or violent actions in GoAnimate for Schools</li>
                </ul>
            </div>-->
        </div>
    </div>
</div>

<div class="homepage-videomaker">
    <div class="container">
        <h2 class="homepage-title">Powerful Tools at the Click of a Mouse</h2>
        <p>Add a character, swap a background, or start a scene just by dragging and dropping.</p>

        <img class="img-responsive center-block" src="/ui/img/img_videomaker_cw.jpg" alt="">
    </div>
</div>

<div class="homepage-characters">
    <div class="container">
        <div class="content">
            <div class="oc-picker owl-carousel">
                <div class="bg-orange">
                    <h2 class="homepage-title">Characters With All the Right Moves</h2>
                    <p>Our libraries are filled with styles, settings, props, and actions. Lip sync is automatic!</p>

                    <img class="img-responsive center-block" src="/ui/img/img_slide_ce662a.jpg" width="1060" alt="">
                </div>
                <div class="bg-khaki">
                    <h2 class="homepage-title">Characters With All the Right Moves</h2>
                    <p>Our libraries are filled with styles, settings, props, and actions. Lip sync is automatic!</p>

                    <img class="img-responsive center-block" src="/ui/img/img_slide_dfcc9e.jpg" width="1060" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('.oc-picker').owlCarousel({
            autoplay: true,
            loop: true,
            center: true,
            items: 1,
            autoplaySpeed: 3000,
            smartSpeed: 2500,
        })
    });
</script>

<div class="homepage-usage">
    <div class="container">
        <h2 class="homepage-title">Videos for a Wide Range of Uses</h2>
        <!--<p>GoAnimate for Schools is used by hundreds of thousands of students, in thousands of schools, on 6 continents.</p>-->
        <div class="row"><!--
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_01.png" alt="">
                <h4>Flip Your Classroom By Sending Home Videos</h4>
                <p>In a flipped classroom, students learn through online instruction outside of class; “homework” is done in the classroom. Students are much more likely to watch or create a video at home than they are to read a textbook or write a paper.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_02.png" alt="">
                <h4>Introduce Topics and Lessons</h4>
                <p>Teach new and difficult topics with video. Use animation to simplify complex ideas. Illustrate word problems.</p>
            </div>-->
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_03.png" alt="">
                <h4>Create Presentations</h4>
                <p>You can use GoNexus to make your own presentation for an assigment/homework you have at school or a project you have to submit to your company even though GoNexus isn't a business site. it's stil good for doing these things anyway.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_07.png" alt="">
                <h4>Create Reports and Stories</h4>
                <p>with GoNexus, you may create any story/report you want. Please make sure that your report is appropriate though as we want to keep everything friendly for the GoAnimate community without starting some drama. if we do end up seeing a video that is inappropriate in any way, then we will have to take down your video.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_05.png" alt="">
                <h4>Check for Mistakes</h4>
                <p>If you mess up something in your video, no worries! we added Video Editing to GoNexus for that very reason.</p>
            </div><!--
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_04.png" alt="">
                <h4>Engage Special Needs Students</h4>
                <p>Students on the Autism spectrum find animated videos to be a great way to communicate and share their feelings.</p>
            </div>-->
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_06.png" alt="">
                <h4>Practice Language Skills</h4>
                <p>Practice grammar, spelling, foreign languages, and sentence structure with TTS (Text To Speech). Great for language learners!</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_08.png" alt="">
                <h4>Produce PSAs</h4>
                <p>with GoNexus, you can create videos on respect, bullying, and a variety of other topics.</p>
            </div><!--
            <div class="col-sm-6 col-md-6 col-lg-4 usage-wrapper">
                <img class="img-responsive center-block" src="/ui/img/img_use_09.png" alt="">
                <h4>Engage Higher-Order Learning Skills</h4>
                <p>Adapting material to video requires both critical thinking AND creativity. Students are enthusiastic about making videos. They think it’s fun. This also leads to deeper understanding and learning.</p>
            </div>-->
        </div>
    </div>
</div>

<div class="homepage-signup">
    <div class="container">
        <span class="cta">Make your first video in less than 5 Minutes</span>
        <a href="/public_signup" class="btn btn-xlg btn-orange" id="banner_btn">Sign Up Now</a>
    </div>
</div>

<div class="modal" id="demo-video">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">GoNexus</h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9"></div>
            </div>
        </div>
    </div>
</div>

<script>
$('#demo-video').on('show.bs.modal', function(e) {
    $(this).find('.embed-responsive').html('<video class="embed-responsive-item" controls src="/assets/oldga4sdemo.mp4" height="100%" width="100%"></video>');
}).on('hide.bs.modal', function(e) {
    $(this).find('.embed-responsive').empty();
});
</script>

<%- include("includes/footer.ejs") %>


<div id="studio_container" style="display: none;">
    <div id="studio_holder"><!-- Full Screen Studio -->
        <div style="top: 50%; position: relative;">
            This content requires the Adobe Flash Player 10.3. <a href="https://get.adobe.com/flashplayer/">Get Flash</a>
        </div>
    </div>
</div>

</body>
</html>
