<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Your Videos on GoNexus</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="GoNexus is an LVM project that helps improve the errors Wrapper: Offline has right now.">
<meta property="og:site_name" content="Vyond">
<meta property="fb:app_id" content="177116303202">

<meta name="google-site-verification" content="K_niiTfCVi72gwvxK00O4NjsVybMutMUnc-ZnN6HUuA">


<style>
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(/ui/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: local('Lato Bold'), local('Lato-Bold'), url(/ui/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
    }
    @font-face {
			font-family: 'GlyphiconsRegular';
            font-style: normal;
            font-weight: normal;
			src: url('/ui/fonts/glyphicons-regular.woff') format('woff');
	}
</style>
</body>
<link rel="stylesheet" href="../ui/css/common_combined.css">
<link href="../ui/css/mymovies.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<style text="text/css">
.top-nav.collapse {height: auto;overflow: visible;}
</style>
<![endif]-->

<script>
var srv_tz_os = -4, view_name = "go", user_cookie_name = "u_info";
var user_role = 9;
</script>

<script src="../js/common_combined.js"></script>
<script type="text/javascript" src="/lvm_files/go/js/../po/goserver_js-en_US.json.gz.json"></script>
<script type="text/javascript">
var I18N_LANG = 'en_US';
var GT = new Gettext({'locale_data': json_locale_data});
</script>









<script type="text/javascript">
    if (self !== top) $('body').hide();
    $.extend(CCStandaloneBannerAdUI, {
        actionshopSWF: "https:\/\/d3v4eglovri8yt.cloudfront.net\/animation\/66453a3ba2cc5e1b\/actionshop.swf",
        apiserver: "http:\/\/ga.vyond.com\/","clientThemePath":"https:\/\/d3v4eglovri8yt.cloudfront.net\/html\/204877ced07e5539\/<client_theme>",
        userId: "0AxjAaQrlscE"
    });
</script>

<div class="page-container">


<div class="site-header">
	<%- include("includes/header.ejs", {
        isVideoList: true
    }) %>
<!-- END OF HEADER -->

<div class="alert alert-danger">
	<div class="alert-content text-center">
        GoNexus is currently under development right now. things like video importing and eta does not work yet. 
        <a href="https://github.com/josephanimate2021/GoNexus" target="_blank">GITHUB LINK</a>.
    </div>
</div>




<div class="container">
    <div class="page-header">
        <h1 class="h2">
            <ol class="breadcrumb video-breadcrumb">
                <li class="base" data-folder-id="" data-category="all" data-page="1" data-sort-by="lastmod" data-status="" data-keyword="" data-folder-name="">Your Videos</li>
            </ol>
        </h1>
    </div>

    <div class="row" id="video-listing">
        <div class="col-md-4 col-md-push-8">
            <div id="videos-nav" class="list-group folder-list folder-access">
                <div class="list-group-item folder-item active" data-folder-id="" data-category="all" data-page="1" data-sort-by="lastmod" data-status="" data-keyword="" data-folder-name="">
                    <span class="title folder-name">Your Videos</span>
                    (<span class="video-count count-all">0</span>)
                </div>
            </div>
        </div>

        <div class="col-md-8 col-md-pull-4">
            <input type="hidden" name="ct" value="FqKXQlssBymA4syBJy5c1wqQq5_QLuWMrWvTH07Cdtp05gvmlOvqho7pEGo4ljDAD6KcXYaTaoxjtjrkZUaCo0PNrF5PQDFOgKmpXlBNwsYkKBnK7efEphlvMXfG8wdYyzzH+TXCmkMJEWo+yA3ADlgAN8mTBUOqO0tZi5Mx1QWH+cuVVyihsSmXtpoa0NYHq8f3HwFfmhuo71WHPtH8lSTwNcvGX5Q96YPHhSuqk=">

<div class="grid video-listing-grid hide-folders folder-access" id="video-listing-grid">

    <div class="grid-viewport video-listing" id="videos">
        <table class="table table-hover table-generic" id="novideos" style="display:none">
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="emptystate">
                            <img class="emptystate-image" src="https://josephanimate2021.github.io/static/55910a7cd204c37c/go/img/myvideos/chair_empty.png">
                            <p>No videos</p>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table class="table table-hover table-generic" id="myvideos">
            <thead class="video-list-head">
                <tr class="video-list-tr">
                    <td></td>
                    <td>Video Title</td>
                    <td>Last Modified</td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="video-list-body" id="allvideos"></tbody>
        </table>
    </div>


</div>

<div id="autosave-overlay" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Your video was autosaved</h3>
            </div>
            <div class="modal-body">
                <span class="autosave-message"></span>
            </div>
            <div class="modal-footer">
                <button class="load-manualsave btn btn-default text-uppercase">Manually saved</button>
                <button class="load-autosave btn btn-default btn-orange text-uppercase">Load autosaved</button>
            </div>
        </div>
    </div>
</div>

        </div>

    </div>

</div>

</div>



<!-- modals -->
<div class="modal" id="export-details" role="dialog" aria-hidden="true" style="z-index:1050;">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header has-back">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">×</button>
        <button class="modal-back" title="Back" data-dismiss="modal" aria-hidden="true">&lt;</button>
        <h3 class="modal-title">Video formats comparison</h3>
    </div>
    <div class="modal-body">

            <table id="video-comparison-table">
                <tbody><tr>
                    <td style="width:50px;"></td>
                    <td style="width:70px;"></td>
                    <td style="width:140px;"><div class="head">360p</div></td>
                    <td style="width:140px;"><div class="head">HD 720p</div></td>
                    <td style="width:140px;"><div class="head">Full HD 1080p</div></td>
                </tr>
                <tr>
                    <td rowspan="4" style="border-right:1px solid #ccc"><h5>Video</h5></td>
                    <td style="text-align:left;"><strong>Resolution</strong></td>
                    <td><strong>640 x 360</strong></td>
                    <td><strong>1280 x 720</strong></td>
                    <td><strong>1920 x 1080</strong></td>
                </tr>
                <tr>
                    <td style="text-align:left;">Encoding</td>
                    <td>H.264</td>
                    <td>H.264</td>
                    <td>H.264</td>
                </tr>
                <tr>
                    <td style="text-align:left;">Bit rate</td>
                    <td>3,200 kbps</td>
                    <td>3,200 kbps</td>
                    <td>3,200 kbps</td>
                </tr>
                <tr>
                    <td style="text-align:left;">Frame rate</td>
                    <td>24 frames / sec</td>
                    <td>24 frames / sec</td>
                    <td>24 frames / sec</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td rowspan="4" style="border-right:1px solid #ccc"><h5>Audio</h5></td>
                    <td style="text-align:left;">Encoding</td>
                    <td>AAC</td>
                    <td>AAC</td>
                    <td>AAC</td>
                </tr>
                <tr>
                    <td style="text-align:left;">Sampling rate</td>
                    <td>44.1 kHz</td>
                    <td>44.1 kHz</td>
                    <td>44.1 kHz</td>
                </tr>
                <tr>
                    <td style="text-align:left;"><strong>Bit rate</strong></td>
                    <td><strong>192 kbps</strong></td>
                    <td><strong>192 kbps</strong></td>
                    <td><strong>192 kbps</strong></td>
                </tr>
                <tr>
                    <td style="text-align:left;">Channels</td>
                    <td>Stereo</td>
                    <td>Stereo</td>
                    <td>Stereo</td>
                </tr>
            </tbody></table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
</div>
<form enctype='multipart/form-data' action='/ajax/movie/upload' method='post' style="display:none">
    <input id='movie' type="file" onchange="this.form.submit()" name='import' accept=".zip" />
</form>
<form enctype='multipart/form-data' action='/ajax/char/upload' method='post' style="display:none">
    <input id='char' type="file" onchange="this.form.submit()" name='import' accept=".xml" />
</form>
<script>
var videoCounts = {
    all: "0",
    trash: "0"
};

// Folder counts. To be updated by myvideos.js.
var folderCounts = 0;
function refreshMovieList() {
    jQuery.getJSON(`/movieList?uid=${userData.uid || userData.id}`, (meta) => {
        document.getElementsByClassName("count-all")[0].innerHTML = meta.length;
        if (meta.length < 1) {
            jQuery("#myvideos").hide();
            jQuery("#novideos").show();
            jQuery("#allvideos").hide();
        } else {
            jQuery("#myvideos").show();
            jQuery("#novideos").hide();
            jQuery("#allvideos").show();
            for (const tbl of meta) {
                videoCounts.all++
                const date = tbl.date.split("T")[0];
                const usDate = `${date.split("-")[1]}/${date.split("-")[2]}/${date.split("-")[0]}`;
                jQuery("#allvideos").append(`<tr><td><img src="/movie_thumbs/${tbl.id}.png"></td><td><div>${tbl.title}</div><div>${tbl.desc}</div><div>${
                    tbl.durationString
                }</div></td><td>${
                    usDate
                }</td><td><a href="javascript:movieRedirect('/player?movieId=${tbl.id}', '${tbl.id}')"></a><a href="javascript:movieRedirect('/go_full?movieId=${
                    tbl.id
                }', '${tbl.id}')"></a><a href="javascript:movieRedirect('/movies/${tbl.id}.zip', '${tbl.id}')"></a><a onclick="deleteMovie('${
                    tbl.id
                }')"></a></td></tr>`);
            }
        }
    })
}
function movieRedirect(url, mId) { // movie version of a redirect. i don't know why it's here lol
    let action;
    switch (url) {
        case `/player?movieId=${mId}`: {
            action = "play your movie";
            break;
        } case `/go_full?movieId=${mId}`: {
            action = "edit your movie";
            break;
        } case `/movies/${mId}.zip`: {
            action = "download your movie";
            break;
        }
    }
    if (url && action) $.post(`/api/check4MovieFilepaths`, {
        mId, action
    }).done(d => {
        const json = JSON.parse(d);
        switch (json.status) {
            case "ok": {
                window.location.href = url;
                break;
            } case "error": {
                alert(json.msg);
                break;
            }
        }
    });
    else alert("you need to specify the url and action in order to do a movie version of a redirect.");
}
function movieCallback(action, mId, callback) { // movie version of a callback. i don't know why it's here lol
    if (action) $.post(`/api/check4MovieFilepaths`, {
        mId, action
    }).done(d => {
        const json = JSON.parse(d);
        switch (json.status) {
            case "ok": {
                callback();
                break;
            } case "error": {
                alert(json.msg);
                break;
            }
        }
    });
    else alert("you need to specify an action and callback function in order to do a movie version of a callback.");
}
function deleteMovie(mId) {
    movieCallback("delete your movie", mId, () => {
        const yesorno = confirm(`Are you sure that you want to delete movie ${mId}?`);
        if (yesorno) $.post('/api/movie/delete', {
            mId, 
            uId: userData.uid || userData.id
        }).done(d => {
            const meta = JSON.parse(d);
            switch (meta.status) {
                case "error": {
                    alert(meta.msg);
                    break;
                } case "ok": {
                    window.location.reload();
                    break;
                }
            }
        });
    });
}
</script>
<script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-app.js"></script>
<script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-auth.js"></script>
<script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/init.js"></script>
<script src="/js/user.js"></script>
<style>
thead.video-list-head {
	border-bottom: 2px solid #ddd;
	border-top: 1px solid #ddd;
}

tbody.video-list-body>tr.video-list-tr {
	border-top: 0;
	border-bottom: 1px solid #ddd;
}

tbody.video-list-body>tr.video-list-tr:hover {
	background-color: #f5f5f5;
}

tr.video-list-tr>:nth-child(1) {
	width: 64px;
}

tr.video-list-tr>:nth-child(1)>img {
	height: 36px;
}

tr.video-list-tr>:nth-child(1) {
	word-break: break-word;
}

tr.video-list-tr>:nth-child(2) {
	color: #999;
}

tr.video-list-tr>:nth-child(2)>:nth-child(1) {
	overflow: hidden;
	text-overflow: ellipsis;
}

tr.video-list-tr>:nth-child(2)>:nth-child(2) {
	font-family: monospace;
}

tr.video-list-tr>:nth-child(3) {
	width: 200px;
}

tr.video-list-tr>:nth-child(3)>* {
	font-family: monospace;
	display: inline-block;
	text-align: center;
	font-size: 14px;
}

tr.video-list-tr>:nth-child(4) {
	font-family: 'GlyphiconsRegular';
	text-decoration: none;
	padding-top: 5px;
	font-size: 14px;
	width: 122px;
}

tr.video-list-tr>:nth-child(4)>a {
	display: inline-block;
	text-decoration: none;
	padding-right: 10px;
	color: #474747;
}

tr.video-list-tr>:nth-child(4)>a:hover {
	color: #2d9e88;
}

tr.video-list-tr>:nth-child(4)>:nth-child(1)::before {
	content: '\E174';
}

tr.video-list-tr>:nth-child(4)>:nth-child(2)::before {
	content: '\E235';
}

tr.video-list-tr>:nth-child(4)>:nth-child(3)::before {
	content: '\E182';
}
tr.video-list-tr>:nth-child(4)>:nth-child(4)::before {
	content: '\E017';
}
@font-face {
    font-family: 'GlyphiconsRegular';
    src: url('/html/fonts/glyphicons-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
</style>
<script src="https://josephanimate2021.github.io/static/55910a7cd204c37c/go/js/video.js.gz.js"></script>
<script src="/js/mymovies.js"></script>

<div class="modal fade" id="modal-alpha-vm5" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title">Before You Head To Vyond Studio</h3>
            </div>
            <div class="modal-body">
                <img class="center-block img-responsive" src="https://josephanimate2021.github.io/static/55910a7cd204c37c/go/img/vm5_alpha/video_copy.png" srcset="https://josephanimate2021.github.io/static/55910a7cd204c37c/go/img/vm5_alpha/video_copy.png 1x, https://josephanimate2021.github.io/static/55910a7cd204c37c/go/img/vm5_alpha/video_copy_2x.png 2x"><br>
                <p>
                    There may be content in this video that is not compatible with Vyond Studio (e.g. imported videos, PPT files, retired content, retired music).                </p>
                <p>
                    Your original video will not be impacted by making this copy to Vyond Studio. Videos created and edited in Vyond Studio cannot be copied to Legacy Video Maker.                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default text-uppercase" href="#" data-dismiss="modal">Cancel</a>
                <a class="btn btn-orange text-uppercase proceed-migration" href="#" target="_blank">Proceed</a>
            </div>
        </div>
    </div>
</div>


<!-- FOOTER -->

<%- include("includes/footer.ejs") %>

<div id="studio_container" style="display: none;">
    <div id="studio_holder"><!-- Full Screen Studio -->
        <div style="top: 50%; position: relative;">
            You can't use Vyond because Flash might be disabled. <a href="https://get.adobe.com/flashplayer/">Enable Flash</a>.
        </div>
    </div>
</div>
</body>
</html>
