<html>
    <head>
        <title><%= title %></title>
    </head>
    <body style="margin:0px"></body>
    <script>
        const html = ('<%= object(attrs, params) %>').split("&#34;").join('"').split("&lt;").join("<").split("&gt;").join(">");
        document.getElementsByTagName('body')[0].innerHTML = html;
    </script>
</html>