<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User - GoNexus</title>
  <link rel="stylesheet" href="/ui/css/common_combined.css">
  <script src="/js/user.js"></script>
</head>

<body>
  <%- include("includes/header.ejs", { isVideoList: false }); %>

    <h1 id="nameThingy"></h1>

    <script>
      document.getElementById("nameThingy").innerHTML = user.displayName; + "'s Profile"
    </script>

    <img src="./placeholder_pfp.jpg" width="75" height="75">

    <%- include('includes/footer.ejs', {}); %>
</body>

</html>
