<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="dns-prefetch" href="//web.archive.org/web/20160801025729/https://d2qrjeyl4jwu9j.cloudfront.net/">

<title>Signup - GoNexus</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="GoNexus is an LVM project that helps improve the errors Wrapper: Offline has right now.">

<meta property="og:site_name" content="GoNexus (Codename: BetterWrapper)">
<meta property="fb:app_id" content="122508887813978">
<meta name="google-site-verification" content="Vta3YTpj6Kx6u4p-EzeMArY0alNItkyUYYMvNM8seVI"/>


<style>
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(/ui/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
    }
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: local('Lato Bold'), local('Lato-Bold'), url(/ui/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
    }
</style>
<link rel="stylesheet" href="/lvm_files/school/css/common_combined.css">

<link rel="stylesheet" href="/lvm_files/school/css/public/order.css.gz.css">

<script>
var srv_tz_os = -4, view_name = "school", user_cookie_name = "u_info_school";
var user_country = "US";
</script>

<!--[if lt IE 9]>
<script src="https://d2qrjeyl4jwu9j.cloudfront.net/static/bd78878c20d6b7fc/go/js/lib/html5shiv.js"></script>
<![endif]-->
<script src="/lvm_files/school/js/common_combined.js"></script>
<script type="text/javascript" src="/lvm_files/go/po/goserver_js-en_US.json"></script>
<script type="text/javascript">
var I18N_LANG = 'en_US';
var GT = new Gettext({'locale_data': json_locale_data});
</script>

</head>
<body class="page-action-public_signup">
<script type="text/javascript">
if (self !== top) jQuery('body').hide();
</script>

<%- include("includes/header.ejs", {
    isVideoList: false
}); %>
<script>
var aff_ref = '', currency = 'USD';
</script>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Sign Up</li>
    </ol>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <form class="form-horizontal" id="signup-form" action="javascript:;" method="post" novalidate>
                <div class="payment-form-section" id="signup-container">
                    <div>
                        <h3>Sign Up</h3><br>
                        <p>Please fill out this form in order to use GoNexus</p><br>
                        <p id="error-message" class="text-danger"></p>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Display Name<span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="display_name" id="display_name" value="" maxlength="25" placeholder="Display name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Email Address<span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input id='email' class="form-control" type="email" name="email" value="" maxlength="100" placeholder="Email address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Password<span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input id="password" class="form-control" type="password" name="password" value="" maxlength="25">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Confirm Password<span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input id="password2" class="form-control" type="password" name="password2" value="" maxlength="25">
                            </div>
                        </div>
                    </div>
                    <div class="payment-form-section-footer">
                        <br>
                        <button class="btn btn-orange btn-lg" type="submit">Sign Up &gt;</button>
                    </div>
                </div>
                <div class="payment-form-section" id="email-verification-container" style="display: none;">
                    <div>
                        <h3>Email Address Verification</h3><br>
                        <p>Please verify your email address in order to use GoNexus</p><br>
                        <p id="error-message" class="text-danger"></p>
                    </div>
                </div>
            </form>
            <br><br>
        </div>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-app.js"></script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/6.2.4/firebase-auth.js"></script>
        <script src="https://fireanimate-eb62d.firebaseapp.com/__/firebase/init.js"></script>
        <script src="/js/user.js"></script>
        <script>
            $("#signup-form").submit(() => {
                $("#signup-processing").modal({
                    keyboard: false,
                    backdrop: "static"
                });
                $("#error-message").text('');
                setTimeout(() => {
                    if ($('#password').val() != $('#password2').val()) {
                        $("#error-message").text('Your password and confirm password must match.');
                        $("#signup-processing").modal('hide');
                    } else if (!$('#display_name').val()) {
                        $("#error-message").text('You need to have a display name.');
                        $("#signup-processing").modal('hide');
                    } else userSignup($('#email').val(), $('#password').val(), $('#display_name').val());
                }, 5000);
            })
        </script>
    </div>
</div>

<div class="modal order-processing-modal" id="signup-processing">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Signing Up..</h3>
            </div>
            <div class="modal-body">
                <br>
                <p class="text-center h4">we are currently signing you up right now, please wait...</p>
                <br>
            </div>
        </div>
    </div>
</div>

<%- include("includes/footer.ejs", {}); %>


<div id="studio_container" style="display: none;">
    <div id="studio_holder"><!-- Full Screen Studio -->
        <div style="top: 50%; position: relative;">
            This content requires the Adobe Flash Player 10.3. <a href="https://get.adobe.com/flashplayer/">Get Flash</a>
        </div>
    </div>
</div>

</body>
</html>
<!--
     FILE ARCHIVED ON 02:57:29 Aug 01, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:23:34 Jul 27, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 122.678
  exclusion.robots: 0.214
  exclusion.robots.policy: 0.204
  cdx.remote: 0.068
  esindex: 0.013
  LoadShardBlock: 84.872 (3)
  PetaboxLoader3.datanode: 270.177 (4)
  load_resource: 994.14
  PetaboxLoader3.resolve: 805.757
-->