.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

* html .clearfix {
    zoom:1}

*:first-child+html .clearfix {
    zoom:1}

:focus {
    outline: 0
}

html {
    margin: 0;
    padding: 0
}

body {
    margin: 0 auto;
    background: #ccc url(../img/common/img_bg_lightgray.gif) repeat 0 0;
    font: 12px "Trebuchet MS",Tahoma,sans-serif
}

img {
    border: 0
}

p {
    margin: 0 0 8px 0;
    padding: 0
}

textarea {
    font-family: "Trebuchet MS",Tahoma,sans-serif
}

a {
    color: #c11a3b;
    cursor: pointer;
    text-decoration: none
}

a:hover,a:active {
    text-decoration: underline
}

ul,ol {
    margin: 0;
    padding: 0
}

.container {
    margin: 0 auto;
    width: 960px;
    position: relative
}

.content {
    margin: 0;
    position: relative
}

h1 {
    color: #333;
    font-size: 18px;
    padding: 0;
    margin: 0 0 10px
}

h1 a {
    color: #333
}

.page_nav {
    clear: both
}

.page_nav .prev {
    float: left
}

.page_nav .next {
    float: right
}

.school-button {
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: bold 18px "Droid Sans";
    line-height: 40px;
    padding: 3px 30px;
    min-width: 180px;
    text-align: center;
    text-shadow: -1px -1px 1px #600a0a;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #333;
    -webkit-box-shadow: 0 1px 1px #333;
    box-shadow: 0 1px 1px #333;
    background: #b60e2d;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e13e64',endColorstr='#b60e2d');
    background: -webkit-gradient(linear,left top,left bottom,from(#e13e64),to(#b60e2d));
    background: -moz-linear-gradient(top,#e13e64,#b60e2d)
}

.school-button:hover {
    color: #fff;
    background: #cb3155;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f15472',endColorstr='#cb3155');
    background: -webkit-gradient(linear,left top,left bottom,from(#f15472),to(#cb3155));
    background: -moz-linear-gradient(top,#f15472,#cb3155);
    text-decoration: none
}

.school-button.large {
    font-size: 24px;
    padding: 15px 30px;
    -moz-box-shadow: 0 2px 2px #333;
    -webkit-box-shadow: 0 2px 2px #333;
    box-shadow: 0 2px 2px #333;
    border-radius: 5px
}

.school-button-cancel {
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: bold 18px "Droid Sans";
    line-height: 40px;
    padding: 3px 30px;
    min-width: 180px;
    text-align: center;
    text-shadow: -1px -1px 1px #444;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #333;
    -webkit-box-shadow: 0 1px 1px #333;
    box-shadow: 0 1px 1px #333;
    background: #898989;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0a0a0',endColorstr='#898989');
    background: -webkit-gradient(linear,left top,left bottom,from(#a0a0a0),to(#898989));
    background: -moz-linear-gradient(top,#a0a0a0,#898989)
}

.school-button-cancel:hover {
    text-decoration: none;
    background: #a9a9a9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0',endColorstr='#a9a9a9');
    background: -webkit-gradient(linear,left top,left bottom,from(#c0c0c0),to(#a9a9a9));
    background: -moz-linear-gradient(top,#c0c0c0,#a9a9a9)
}

.school-button-cancel.large {
    font-size: 24px;
    padding: 15px 30px;
    -moz-box-shadow: 0 2px 2px #333;
    -webkit-box-shadow: 0 2px 2px #333;
    box-shadow: 0 2px 2px #333;
    border-radius: 5px
}

#top-bar {
    background-color: #333;
    padding: 0 15px;
    height: 25px;
    line-height: 25px
}

#top-bar a {
    color: #ccc
}

#top-bar a.login {
    background-color: #6e9e2e;
    border-radius: 0 0 5px 5px;
    color: #fff;
    font-size: 14px;
    float: right;
    line-height: 30px;
    margin: 0 10px 0 0;
    padding: 0 20px
}

#school-top {
    border-bottom: 2px dashed #333;
    margin: 0 0 30px;
    padding: 0;
    position: relative
}

#school-top h1,#school-top h2 {
    color: #6d9e2e;
    margin: 0;
    font: 26px/50px "Droid Sans";
    padding-top: 28px;
    text-shadow: -1px -1px 1px #666
}

#school-top h2 a {
    color: #6d9e2e;
    font-size: 23px
}

#school-top h2 a:hover,#school-top h2 a:active {
    text-decoration: none
}

#school-top-menu {
    position: absolute;
    top: 34px;
    right: 0;
    color: #333;
    font-size: 14px;
    font-family: "Droid Sans"
}

#school-top-menu a {
    color: #333;
    padding: 0;
    line-height: 28px;
    font-weight: bold
}

#school-top-menu a:hover,#school-top-menu a.on,#school-top-menu #school-top-menu-try.on {
    color: #888;
    text-decoration: none
}

#school-top-menu #school-top-menu-try {
    color: #e35817
}

#register-school {
    background-color: #93bd56;
    text-align: center;
    padding: 20px 40px;
    margin: 30px 0 0;
    border-radius: 10px
}

.register-school-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px
}

.register-school-text {
    color: #666;
    font-weight: bold;
    margin: 0 0 15px
}

#footer {
    background: #eee url(../img/footer/shadow_light.gif) repeat-x 0 0;
    color: #666;
    width: 100%;
    position: relative
}

#footer .footer-inside {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0
}

#footer .as-seen-on {
    padding-bottom: 10px
}

#footer .as-seen-on h4 {
    color: #555;
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin: 0;
    padding: 0 25px 0 0;
    font-family: "Droid Sans"
}

#footer .as-seen-on img {
    float: left
}

#footer hr {
    background: transparent url(../img/footer/img_dashline_footer.gif) repeat-x 0 0;
    border: 0;
    width: 100%;
    height: 2px;
    margin: 15px 0;
    padding: 0
}

#footernav {
    margin: 0;
    padding: 0
}

#footernav .col {
    float: left;
    padding: 10px 0 0;
    text-align: left;
    height: 160px;
    width: 210px;
    border-right: 1px solid #aaa;
    margin-right: 40px
}

#footernav .col.last {
    background-color: #ddd;
    border: 0;
    float: right;
    margin-right: 0;
    padding: 10px 30px;
    width: 140px;
    border-radius: 10px
}

#footernav h4 {
    color: #777;
    font-size: 16px;
    margin: 0 0 15px 0;
    padding: 0;
    font-family: "Droid Sans"
}

#footernav h4 span {
    border-bottom: 1px solid #aaa
}

#footernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#footernav li {
    margin: 0 0 8px 0;
    padding: 0
}

#footer .copyright {
    float: right
}

#footernav a {
    color: #333;
    font-size: 12px
}

div.growlUI h1,div.growlUI h2 {
    color: white;
    padding: 5px 5px 5px 75px;
    text-align: left;
    margin: 0;
    font-family: 'trebuchet ms',verdana,arial
}

div#growlnotify,div#growlerror {
    width: 52px;
    height: 52px;
    display: none;
    float: left
}

div.growlcontent {
    width: 290px;
    color: #fff;
    font-size: 15px;
    float: right
}

div.growltitle {
    width: 290px;
    font-weight: bold;
    float: left
}

div#growlfeedback {
    padding-top: 10px;
    width: 290px;
    float: left
}

#termsofuse {
    color: #222;
    padding: 0 0 50px 0
}

#termsofuse h1 {
    text-align: center;
    margin-bottom: 20px
}

#termsofuse li {
    margin-bottom: 10px
}

#termsofuse ol {
    margin: 10px 0;
    padding-left: 25px
}

#edsoft-overlay {
    color: #666;
    font-size: 14px;
    text-align: center
}

#edsoft-overlay h2 {
    color: #333;
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0
}

#edsoft-overlay .lightbox_wrapper {
    padding-bottom: 25px
}

.edsoft-overlay-loading {
    margin: 20px 0 10px
}

a.edsoft-cancel {
    background-color: #aaa;
    border-radius: 0 0 10px 10px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
    margin-top: -15px
}

a.edsoft-cancel:hover {
    text-decoration: underline
}

.growlUI {
    background: url(../img/common/feedback/tick.png) no-repeat 10px 10px
}

.growlUI.error {
    background-image: url(../img/common/feedback/cross.png)
}

.growlUI h1,.growlUI h2 {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    padding: 5px 5px 5px 75px;
    margin: 0;
    text-align: left
}

.growlUI h1 {
    font-size: 20px;
    line-height: 30px
}